:css
  .details {
    margin: 1em;
  }

  .summary {
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    font-size: 1em;
    padding: .25em 0;
  }

  .summary:hover {
    text-decoration: underline;
  }

  .summary::marker {
    display: none;
  }

  .details > .summary::after {
    display: inline-block;
    content: "▲";
    transition: transform 250ms;
    transform: translateX(.5em) rotateZ(.25turn);
    scale: 1.0;
  }

  .details[open] > .summary::after {
    transform: translateX(.5em) rotateZ(.5turn);
  }

%details.details{open: props[:open]}
  %summary.summary= props[:summary]
  %slot
