:ruby
  PageLayout = require("/app/components/Layout/Page")
  Menu = require("/app/components/Layout/Menu")
  MenuItem = require("/app/components/Layout/MenuItem")

- def render_menu
  %Menu
    %MenuItem(href="/docs") Introduction
    %MenuItem(href="/docs/getting-started") Getting started
    %MenuItem(href="/docs/deployment") Deployment
    %MenuItem(href="/docs/faq") Frequently asked questions

- def render_under_construction
  %p.underConstruction
    %span.underConstructionText
      This page is under construction!

%PageLayout(menu=render_menu after_heading=render_under_construction)
  = children
