:ruby
  PageLayout = import("/app/components/Layout/FullWidthPageWithMenu")
  Heading = import("/app/components/Layout/Heading")
  Card = import("/app/components/Layout/Card")
  Menu = import("/app/components/Layout/Menu")
  MenuItem = import("/app/components/Layout/MenuItem")
  Details = import("./Details")
  Breadcrumbs = import("/app/components/UI/Breadcrumbs")
  Icon = import("/app/components/UI/Icon")

  LINKS = {
    "/docs" => "Documentation",
    "/docs/getting-started" => "Getting started",
    "/docs/why-mayu" => "Why Mayu?",
    "/docs/components" => "Components",
    "/docs/reusing-components" => "Reusing components",
    "/docs/stylesheets" => "Stylesheets",
    "/docs/callbacks" => "Callbacks",
    "/docs/lifecycle-methods" => "Lifecycle methods",
    "/docs/state" => "State",
    "/docs/routing" => "Routing",
    "/docs/data-fetching" => "Data fetching",
    "/docs/images" => "Images",
    "/docs/syntax" => "Syntax guide",
    "/docs/deployment" => "Deployment",
    "/docs/faq" => "Frequently asked questions",
  }

  def did_update(prev_props, prev_state)
    unless prev_props.dig(:request, :path) == props.dig(:request, :path)
      helpers.scroll_into_view("#page")
    end
  end

  private

  def breadcrumb_links
    props => { request: { path: } }

    splat = split_path(path)

    LINKS.select {
      s = split_path(_1)
      s == splat.slice(0, s.length)
    }
  end

  def split_path(path)
    path.split("/").reject(&:empty?)
  end

:css
  .layout {
    display: grid;
    height: 100%;
    grid-template-columns: 15em auto;
    overflow: hidden;
  }

  .under-construction {
    font-size: .8em;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    margin: 1em;
  }

  Icon {
    font-size: 2em;
  }

%PageLayout
  #page
    %Card(slot="after_heading" border="var(--yellow)" background="var(--yellow-bright)")
      %p.under-construction
        %Icon(name="person-digging" color="var(--dark)")
        %span This page is under construction!
    %slot

  %Breadcrumbs(slot="breadcrumbs" links=breadcrumb_links)

  %div(slot="menu")
    %Details(open summary="Intro")
      %Menu
        %MenuItem(href="/docs") Introduction
        %MenuItem(href="/docs/getting-started") Getting started
        %MenuItem(href="/docs/why-mayu") Why Mayu?
    %Details(open summary="Components")
      %Menu
        %MenuItem(href="/docs/components") Components
        %MenuItem(href="/docs/reusing-components") Reusing components
        %MenuItem(href="/docs/stylesheets") Stylesheets
        %MenuItem(href="/docs/callbacks") Callbacks
        %MenuItem(href="/docs/lifecycle-methods") Lifecycle methods
        %MenuItem(href="/docs/state") State
        %MenuItem(href="/docs/routing") Routing
        %MenuItem(href="/docs/data-fetching") Data fetching
        %MenuItem(href="/docs/images") Images
        %MenuItem(href="/docs/syntax") Syntax guide
    %Details(open summary="Other")
      %Menu
        %MenuItem(href="/docs/deployment") Deployment
        %MenuItem(href="/docs/faq") Frequently asked questions
