:ruby
  PageLayout = import("/app/components/Layout/FullWidthPageWithMenu")
  Heading = import("/app/components/Layout/Heading")
  Menu = import("/app/components/Layout/Menu")
  MenuItem = import("/app/components/Layout/MenuItem")
  Details = import("./Details")

  def did_update(prev_props, prev_state)
    unless prev_props[:path] == props[:path]
      helpers.scroll_into_view("#page")
    end
  end

:css
  .layout {
    display: grid;
    height: 100%;
    grid-template-columns: 15em auto;
    overflow: hidden;
  }

%PageLayout
  #page
    %p.underConstruction(slot="after_heading")
      %span.underConstructionText
        This page is under construction!
    %slot

  %nav(slot="menu")
    %Details(open summary="Intro")
      %Menu
        %MenuItem(href="/docs") Introduction
        %MenuItem(href="/docs/getting-started") Getting started
    %Details(open summary="Components")
      %Menu
        %MenuItem(href="/docs/components") Components
        %MenuItem(href="/docs/callbacks") Callbacks
        %MenuItem(href="/docs/lifecycle-methods") Lifecycle
        %MenuItem(href="/docs/whitespace") Whitespace
        %MenuItem(href="/docs/early-returns") Early returns
        %MenuItem(href="/docs/stylesheets") Stylesheets
        %MenuItem(href="/docs/slots") Slots
        %MenuItem(href="/docs/state") State
        %MenuItem(href="/docs/routing") Routing
        %MenuItem(href="/docs/data-fetching") Data fetching
        %MenuItem(href="/docs/resources") Resources
    %Details(open summary="Other")
      %Menu
        %MenuItem(href="/docs/deployment") Deployment
        %MenuItem(href="/docs/faq") Frequently asked questions
