:ruby
  PageLayout = import("/app/components/Layout/FullWidthPageWithMenu")
  Heading = import("/app/components/Layout/Heading")
  Card = import("/app/components/Layout/Card")
  Menu = import("/app/components/Layout/Menu")
  MenuItem = import("/app/components/Layout/MenuItem")
  Details = import("./Details")

  def did_update(prev_props, prev_state)
    unless prev_props.dig(:request, :path) == props.dig(:request, :path)
      helpers.scroll_into_view("#page")
    end
  end

:css
  .layout {
    display: grid;
    height: 100%;
    grid-template-columns: 15em auto;
    overflow: hidden;
  }

  .under-construction {
    margin: 1em;
    font-size: .8em;
  }

  .icon {
    display: inline-block;
    scale: 2;
    margin: 0 1em 0 .5em;
  }

%PageLayout
  #page
    %Card(slot="after_heading" border="var(--yellow)" background="var(--yellow-bright)")
      %p.under-construction
        %span.icon> ⚠️
        %span This page is under construction!
    %slot

  %div(slot="menu")
    %Details(open summary="Intro")
      %Menu
        %MenuItem(href="/docs") Introduction
        %MenuItem(href="/docs/getting-started") Getting started
    %Details(open summary="Components")
      %Menu
        %MenuItem(href="/docs/components") Components
        %MenuItem(href="/docs/reusing-components") Reusing components
        %MenuItem(href="/docs/stylesheets") Stylesheets
        %MenuItem(href="/docs/callbacks") Callbacks
        %MenuItem(href="/docs/lifecycle-methods") Lifecycle methods
        %MenuItem(href="/docs/state") State
        %MenuItem(href="/docs/routing") Routing
        %MenuItem(href="/docs/data-fetching") Data fetching
        %MenuItem(href="/docs/images") Images
        %MenuItem(href="/docs/syntax") Syntax guide
    %Details(open summary="Other")
      %Menu
        %MenuItem(href="/docs/deployment") Deployment
        %MenuItem(href="/docs/faq") Frequently asked questions
