:ruby
  PageLayout = require("/app/components/Layout/Page")
  Menu = require("/app/components/Layout/Menu")
  MenuItem = require("/app/components/Layout/MenuItem")

%PageLayout
  %slot

  %Menu(slot="menu")
    %MenuItem(href="/docs") Introduction
    %MenuItem(href="/docs/getting-started") Getting started
    %MenuItem(href="/docs/deployment") Deployment
    %MenuItem(href="/docs/faq") Frequently asked questions

  %p.underConstruction(slot="after_heading")
    %span.underConstructionText
      This page is under construction!
