.underConstruction {
  border: 2px solid #000;
  color: #000;
  border-radius: 2px;
  padding: 0.5em;
  width: max-content;
  font-weight: bold;
  text-transform: uppercase;
  background: repeating-linear-gradient(
    -45deg,
    #000,
    #000 10px,
    #ff0 10px,
    #ff0 20px
  );
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 5px -2px #000;
}

.underConstructionText {
  display: inline-block;
  padding: 0 0.5em;
  margin: 0;

  background: #ff0;
  box-shadow: inset 0 0 5px -1px #000;

  border: 2px solid #000;
  border-radius: 2px;

  font-family: Impact;
  font-weight: lighter;
  font-size: min(5vw, 2em);
}
