:ruby
  Markdown = import("/app/components/Markdown")
  Heading = import("/app/components/Layout/Heading")
  Link = import("/app/components/UI/Link")
%Markdown{elems: { header: Heading, a: Link }}
  %slot
