:ruby
  Markdown = import("./Markdown")
  CurrentFlyRegionLink = import("./CurrentFlyRegionLink")

%article
  %Markdown
    :plain
      # Introduction

      Welcome to the Mayu documentation!

      This is all work in progress. Contributions are welcome.

      Check out the
      [README](https://github.com/mayu-live/framework/blob/main/README.md#description)
      if you haven't!

      ## What is Mayu?

      Mayu is a live streaming server side component-based VirtualDOM rendering framework written in Ruby.

      Mayu has a server side [Virtual DOM](https://en.wikipedia.org/wiki/Virtual_DOM).
      Virtual DOMs are usually made for browsers, while Mayu runs everything on
      server and streams DOM-patches to the browser runtime.

      The browser runtime is pretty small and split into modules so that the
      most important parts are loaded first, and the less important parts are
      loaded asynchronously.

      By running the application on a server,
      you eliminate the need for an API for your frontend application.
      You can communicate to your database or other services directly
      from within your callback handlers.

      By deploying the application on a server near your users,
      latency should be low enough for interactive elements to appear
      like they update instantly.
      [MDN: How long is too long?](https://developer.mozilla.org/en-US/docs/Web/Performance/How_long_is_too_long#responsiveness_goal)

  %p
    The current instance is deployed to
    %CurrentFlyRegionLink<
