:ruby
  Heading = import("/app/components/Layout/Heading")
  Markdown = import("/app/components/Markdown")

%article
  %Markdown{elems: { header: Heading }}
    :plain
      # Introduction

      Welcome to the documentation!

      This is all work in progress. Contributions are welcome.

      Check out the
      [README](https://github.com/mayu-live/framework/blob/main/README.md#description)
      if you haven't!
