:css
  .details {
    border: 1px solid var(--blue);
    border-radius: 2px;
    padding: 0.5em 0.5em 0;
    margin: 1em;
  }

  .summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
  }

  .details[open] {
    padding: 0.5em;
  }

  .details[open] .summary {
    border-bottom: 1px solid var(--blue);
    margin-bottom: 0.5em;
  }

%details.details
  %summary.summary= props[:summary]
  %slot
