:ruby

  def mount
    $params => { id: /\A\d+\z/ => id }
    res = fetch("https://pokeapi.co/api/v2/pokemon/#{id}/")
    @pokemon = res.json(symbolize_names: true)
  rescue => e
    @error = e.message
  end

- return unless @pokemon
  %p Loading pokémon

%article
  %h1= @pokemon[:name]
  %img{src: @pokemon.dig(:sprites, :front_default)}
  %dl
    %dt Weight
    %dd= @pokemon[:weight]
    %dt Base experience
    %dd= @pokemon[:base_experience]
