:ruby
  Card = import("/components/UI/Card")
  Highlight = import("/components/UI/Highlight")
  Markdown = import("../Markdown")
  Example = import("./Example")

%article
  %Markdown
    :plain
      # State

      Mayu uses instance variables for state.
      Any time you update an instance variable inside a component,
      the component will re-render.

      Set up state in `def initialize`.

  %Highlight(language="haml")
    = File.read("app/pages/docs/state/Example.haml")

  %p This will result in the following component:

  %Card.card
    %Example

:css
  Card {
    margin: 1em;
    margin-top: 2em;
    padding: 1em;
  }
