:ruby
  Link = import("./Link")
  Separator = import("./Separator")

  def add_separators(items)
    items.map.with_index do |(path, text), index|
      if index.zero?
        { path:, text: }
      else
        [:sep, { path:, text: }]
      end
    end.flatten
  end

%nav{ aria: { label: "Breadcrumbs" } }
  %ol
    = add_separators($links).map.with_index do |elem, i|
      %li[i]
        = if elem == :sep
          %Separator
        = else
          %Link{**elem}

:css
  nav {
    font-family: var(--font-heading);
    background: var(--breadcrumbs-background);
    color: var(--breadcrumbs-color);
    --link-color: currentcolor;
    border-bottom: var(--thin-border);
    padding: 0 2em;
  }

  ol {
    list-style-type: none;
    display: flex;
    gap: .5em;
    align-items: center;
    font-weight: 300;
    margin: 0;
    padding: 1em 0;
  }

  li {
    margin: 0;
    padding: 0;
  }
