:ruby
  MaxWidth = import("/app/components/Layout/MaxWidth")
  Link = import("./Link")
  Separator = import("./Separator")

  def add_separators(items)
    items.map.with_index do |(path, text), index|
      if index.zero?
        { path:, text: }
      else
        [:sep, { path:, text: }]
      end
    end.flatten
  end

:css
  nav {
    background: #67667a;
  }

  ol {
    list-style-type: none;
    display: flex;
    gap: .5em;
    align-items: center;
    font-weight: 300;
    margin: 0;
    padding: 1em 0;
  }

  li {
    margin: 0;
    padding: 0;
  }
%nav{ aria: { label: "Breadcrumbs" } }
  %MaxWidth
    %ol
      = add_separators(props[:links]).map.with_index do |elem, i|
        %li(key=i)
          = if elem == :sep
            %Separator
          = unless elem == :sep
            %Link{**elem}
