:ruby
  Button = import("/components/Form/Button")

  MESSAGES = [
    "Click me!",
    "Click again!!",
    "One more time",
    "I am a banana 🍌",
    "LOL",
  ]

  def initialize
    @x = 0
    @y = 0
    @count = 0
  end

  def handle_click
    radius = rand * 200

    @count += 1
    @x = Math.cos(Math::PI * 2 * rand) * radius
    @y = Math.sin(Math::PI * 2 * rand) * radius
  end

:css
  button {
    transition: transform 0.2s;
  }

%Button(onclick=handle_click){
  transform: "translate(#{@x}px, #{@y}px)",
  transition: "all 200ms"
}
  = MESSAGES[@count % MESSAGES.size]
