:ruby
  Button = import("/app/components/Form/Button")

  MESSAGES = [
    "Click me!",
    "Click again!!",
    "One more time",
    "I am a banana ðŸŒ",
    "LOL",
  ]

  def self.get_initial_state(**) =
    { x: 0, y: 0, count: 0 }

  def handle_click
    radius = rand * 200

    update(
      count: state[:count].succ,
      x: Math.cos(Math::PI * 2 * rand) * radius,
      y: Math.sin(Math::PI * 2 * rand) * radius,
    )
  end

:css
  button {
    transition: transform 0.2s;
  }

:ruby
  state => { count:, x:, y: }
  transform = "translate(#{x}px, #{y}px)"
  style = { transform:, transition: "all .2s" }

%Button(style=style onclick=handle_click)
  = MESSAGES[state[:count] % MESSAGES.size]
