:ruby
  MESSAGES = [
    "Click me!",
    "Click again!!",
    "One more time",
    "I am a banana ðŸŒ",
    "LOL",
  ]

  def self.get_initial_state(**) =
    { x: 0, y: 0, count: 0 }

  def handle_click
    update(
      count: state[:count].succ,
      x: (rand * 2 - 1) * 200,
      y: (rand * 2 - 1) * 200,
    )
  end

:css
  button {
    transition: transform 0.2s;
  }

:ruby
  state => { count:, x:, y: }
  transform = "translate(#{x}px, #{y}px)"
  style = { transform: }

%button(style=style onclick=handle_click)
  = MESSAGES[state[:count] % MESSAGES.size]
