:ruby
  PageLayout = import("/components/Layout/FullWidthPageWithMenu")
  Menu = import("/components/Layout/Menu")
  MenuItem = import("/components/Layout/MenuItem")
  Breadcrumbs = import("/components/UI/Breadcrumbs")

  LINKS = {
    "/demos" => "Demos",
    "/demos/pokemon" => "Pokémon",
    "/demos/ollama" => "Ollama chat",
    "/demos/tree" => "App tree",
    "/demos/form" => "Form elements",
    "/demos/images" => "Images",
    "/demos/svg" => "SVGs",
    "/demos/todo" => "Todo app",
    "/demos/exceptions" => "Exceptions",
    "/demos/life" => "Game of life",
    "/demos/events" => "Events",
    "/demos/sorting" => "Sorting",
    "/demos/custom-elements" => "Custom elements",
    "/demos/gc" => "GC stats",
  }

  def breadcrumb_links
    splat = split_path($path)

    LINKS.select {
      s = split_path(_1)
      s == splat.slice(0, s.length)
    }
  end

  def split_path(path)
    path.split("/").reject(&:empty?)
  end

:css
  nav {
    margin: 1em;
  }

%PageLayout
  %slot

  %Breadcrumbs(slot="breadcrumbs" links=breadcrumb_links)

  %nav(slot="menu")
    %Menu
      = LINKS.map do |path, text|
        %MenuItem[path](href=path)= text
