:ruby
  PageLayout = import("/app/components/Layout/FullWidthPageWithMenu")
  Menu = import("/app/components/Layout/Menu")
  MenuItem = import("/app/components/Layout/MenuItem")
  Breadcrumbs = import("/app/components/UI/Breadcrumbs")

  translations("sv-SE", "en-US")

  LINKS = {
    "/demos" => :demos,
    "/demos/i18n" => :i18n,
    "/demos/pokemon" => :pokemon,
    "/demos/tree" => :tree,
    "/demos/form" => :form,
    "/demos/images" => :images,
    "/demos/svg" => :svg,
    "/demos/fuzzy-matcher" => :fuzzymatch,
    "/demos/todo" => :todo,
    "/demos/exceptions" => :exceptions,
    "/demos/life" => :life,
    "/demos/events" => :events,
  }

  def breadcrumb_links
    props => { request: { path: } }

    splat = split_path(path)

    LINKS.select {
      s = split_path(_1)
      s == splat.slice(0, s.length)
    }.transform_values { t(_1) }
  end

  def split_path(path)
    path.split("/").reject(&:empty?)
  end

:css
  .nav {
    margin: 1em;
  }

%PageLayout
  %slot

  %Breadcrumbs(slot="breadcrumbs" links=breadcrumb_links)

  .nav(slot="menu")
    %Menu(lang=lang)
      = LINKS.map do |path, label|
        %MenuItem(key=path href=path)= t(label)
