:ruby
  PageLayout = require("/app/components/Layout/Page")
  Menu = require("/app/components/Layout/Menu")
  MenuItem = require("/app/components/Layout/MenuItem")

%PageLayout(title="Demos")
  %slot

  %Menu(slot="menu")
    %MenuItem(href="/demos") Index
    %MenuItem(href="/demos/pokemon") Pokémon
    %MenuItem(href="/demos/tree") App tree
    %MenuItem(href="/demos/form") Forms
    %MenuItem(href="/demos/grid") onmouseenter grid
    %MenuItem(href="/demos/images") Images
    %MenuItem(href="/demos/svg") SVG
