:ruby
  PageLayout = import("/app/components/Layout/FullWidthPageWithMenu")
  Menu = import("/app/components/Layout/Menu")
  MenuItem = import("/app/components/Layout/MenuItem")
  Breadcrumbs = import("/app/components/UI/Breadcrumbs")

  LINKS = {
    "/demos" => "Demos",
    "/demos/i18n" => "I18n",
    "/demos/pokemon" => "Pokémon",
    "/demos/tree" => "App tree",
    "/demos/form" => "Form elements",
    "/demos/images" => "Images",
    "/demos/svg" => "SVGs",
    "/demos/fuzzy-matcher" => "Fuzzy matcher",
    "/demos/todo" => "Todo app",
    "/demos/exceptions" => "Exceptions",
    "/demos/life" => "Game of life",
    "/demos/events" => "Events",
  }

  def breadcrumb_links
    props => { request: { path: } }

    splat = split_path(path)

    LINKS.select {
      s = split_path(_1)
      s == splat.slice(0, s.length)
    }
  end

  def split_path(path)
    path.split("/").reject(&:empty?)
  end

:css
  .nav {
    margin: 1em;
  }

%PageLayout
  %slot

  %Breadcrumbs(slot="breadcrumbs" links=breadcrumb_links)

  .nav(slot="menu")
    %Menu
      = LINKS.map do |path, text|
        %MenuItem(key=path href=path)= text
