:ruby
  Heading = import("/app/components/Layout/Heading")
  ButtonGame = import("./ButtonGame")

%article
  %Heading(level=2) Demos index
  %p This section demonstrates some of the capabilities of Mayu.

  %ButtonGame
