:ruby
  MaxWidth = require("/app/components/Layout/MaxWidth")
  Heading = require("/app/components/Layout/Heading")
  ButtonGame = require("./ButtonGame")

%MaxWidth
  %Heading(level=2) Demos
  %p This section demonstrates some of the capabilities of Mayu.

  %ButtonGame
