:ruby
  translations("sv-SE", "en-US")

  Heading = import("/app/components/Layout/Heading")
  ButtonGame = import("./ButtonGame")

%article
  %Heading(level=2)= t(:title)
  %p= t(:description)

  %ButtonGame
