%footer
  %p
    Made with
    %a(target="_blank" href="https://mayu.live/")< Mayu Live
    %a(target="_blank" href="https://github.com/mayu-live/framework")< (GitHub)
  %dl
    %dt Mayu
    %dd= Mayu::VERSION
    %dt Ruby
    %dd= RUBY_VERSION
    %dt YJIT
    %dd= RubyVM::YJIT.enabled? ? "enabled" : "disabled"

:css
  footer {
    margin-inline: auto;
    text-align: center;
  }

  a {
    transition: filter 100ms;

    &:any-link {
      color: var(--pink);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      filter: brightness(120%);
    }
  }

  dl {
    display: flex;
  }

  :is(dt, dd) {
    margin: 0;
    padding: 0;
  }

  dt {
    font-weight: bold;
    margin-right: .5ch;
  }

  dd {
    margin-right: 1em;
  }
