:ruby
  Heading = import("/components/Layout/Heading")
  Image = import("/components/UI/Image")
  Link = import("/components/UI/Link")
  Comuna13 = import("./comuna-13.jpeg")
  ColombiaMap = import("./colombia-map-flag.png")

:css
  figure {
    margin: 2em 0;
  }

  .green-bg {
    background: var(--green);
  }

%article
  %Heading(level=2) Images
  %p
    This demo shows some images.
  %figure
    %Image(image=Comuna13 alt="Comuna 13, Medellín, Colombia")
    %figcaption
      Comuna 13, Medellín, Colombia.
      %Link(href="https://www.google.com/maps?q=loc:6.2487861,-75.62455" target="_blank")<
        Google Maps
  %figure
    %Image.green-bg(image=ColombiaMap alt="Colombia Flag Map from openclipart.org")
    %figcaption
      Colombia Flag Map, found on
      %Link(href="https://openclipart.org/detail/223690/colombia-map-flag" target="_blank")<
        openclipart.com
