:ruby
  Heading = import("/app/components/Layout/Heading")
  Image = import("/app/components/UI/Image")
  Comuna13 = image("./comuna-13.jpeg")


%article
  %Heading(level=2) Images
  %p
    This demo shows an image.
    Right click and choose Inspect to see all the versions that get generated.
  %figure
    %Image(lazy image=Comuna13 alt="Comuna 13, Medellín, Colombia")
    %figcaption
      Comuna 13, Medellín, Colombia.
      %a(href="https://www.google.com/maps?q=loc:6.2487861,-75.62455" target="_blank")<
        Google Maps
