:ruby
  Icon = import("/app/components/UI/Icon")

  def self.get_initial_state(initial_open: false, **) = {
    open: initial_open
  }

  def handle_toggle(_)
    update do |state|
      { open: !state[:open] }
    end
  end

:css
  li {
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
    margin-left: 1em;
  }

  .name {
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: .5em;
  }

  .name:hover {
    text-decoration: underline;
  }

  .entries {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

:ruby
  props => { root:, path:, entry: }

  entries =
    if state[:open]
      Dir
        .entries(File.join(root, path))
        .difference(%w[. ..])
        .sort
        .map do
          Mayu::VDOM.h(entry,
          root:,
          path: File.join(path, _1)
        )
        end.compact
      else
        []
      end

  icon = state[:open] ? "folder-open" : "folder"

%li{class: { nonempty: entries.any? }}
  %span.name(onclick=handle_toggle)
    %Icon(name=icon color="var(--dark)")
    #{File.basename(path)}/
  = unless entries.empty?
    %ul.entries= entries
