:ruby
  Directory = import("./Directory")
  FileEntry = import("./FileEntry")

:ruby
  props => {root:, path:}
  absolute_path = File.join(root, path)

- if File.directory?(absolute_path)
  - return
    %Directory{
      root:,
      path:,
      entry: self.class,
      initial_open: props[:initial_open],
    }

%FileEntry{root:, path:}
