:ruby
  Icon = import("/app/components/UI/Icon")
  Link = import("/app/components/UI/Link")
  Name = import("./Name")

  def icon
    case File.extname($path)
    in ".haml" | ".css" | ".rb"
      "file-code"
    in ".md"
      "file-lines"
    in ".png" | ".jpg" | ".jpeg" | ".svg"
      "file-image"
    else
      "file"
    end
  end

  def should_update?(_next_props, _next_state) = false

:css
  h4 {
    display: inline-flex;
    align-items: center;
    gap: .5em;
  }

:ruby
  props => path:
  href = "?file=#{path}"

%Name(icon=icon)
  %Link(href=href)= File.basename(path)
