:ruby
  Icon = import("/app/components/UI/Icon")

  def icon
    case File.extname(props[:path])
    in ".css" | ".rb"
      "file-code"
    in ".md"
      "file-lines"
    in ".png" | ".jpg" | ".jpeg" | ".svg"
      "file-image"
    else
      "file"
    end
  end

:css
  li {
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
    margin-left: 1em;
  }

  .name {
    display: inline-flex;
    align-items: center;
    gap: .5em;
  }

:ruby
  props => path:
  href = "?file=#{path}"

%li
  %span.name
    %Icon(name=icon color="var(--blue)")
    %a{href:}= File.basename(path)
