:css
  .file {
    padding-left: 0.5em;
    margin-left: 1em;
    list-style-type: "ðŸ“„";
  }

  .rb, .rux, .haml {
    list-style-type: "ðŸ“";
  }

  .css {
    list-style-type: "ðŸ–¨ï¸";
  }

  .png, .jpg, .jpeg {
    list-style-type: "ðŸ–¼ï¸";
  }

:ruby
  props => path:
  href = "?file=#{path}"
  basename = File.basename(path)
  classname = File.extname(path).delete_prefix(".").to_sym

%li.file(class=classname)
  %a{href:}= basename
