:ruby
  Icon = import("/app/components/UI/Icon")

  def color = $color || "var(--dark)"
:css
  label {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: .5em;
  }
%label{**props.except(:color, :icon)}
  %Icon(name=$icon color=color)
  %slot
