:ruby
  Icon = import("/components/UI/Icon")
:css
  label {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: .5em;
  }
:ruby
  $* => { icon:, **props }
  color = $color || "var(--dark)"
%label{**props}
  %Icon(name=icon color=color)
  %slot
