.browser {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  align-items: start;
}

.list {
  padding: 1em;
  margin: 0;
  background: var(--yellow-bright);
  border: 1px solid var(--yellow);
  border-radius: 2px;
}

.right {
  overflow: hidden;
}

@media (min-width: 768px) {
  .browser {
    grid-template-columns: 1fr 3fr;
  }
}
