:ruby
  MaxWidth = require("/app/components/Layout/MaxWidth")
  Heading = require("/app/components/Layout/Heading")

  Entry = require("./Entry")
  FileContents = require("./FileContents")

  def self.get_initial_state(**props)
    {
      selected_path: nil
    }
  end

- root = File.expand_path(".")

%MaxWidth
  %Heading(level=2) App tree

  %p
    This page shows the file structure of the example app.
    = " "
    %a(href="https://github.com/mayu-live/framework/tree/main/example/app")

  .browser
    %ul.list
      %Entry(initial_open){root:, path: "app"}
    .right
      %FileContents{root:, path: props.dig(:query, :file)}
