:ruby
  Heading = import("/components/Layout/Heading")
  Card = import("/components/UI/Card")
  FileContents = import("./FileContents")
  Directory = import("./Directory")

  def initialize
    @selected_path = nil
  end

- root = File.expand_path(".")

%article
  .header
    %Heading(level=2) App tree

    %p
      This page shows the file structure of the example app.
      %a(href="https://github.com/mayu-live/framework/tree/main/example/app")<
  .grid
    .column
      .scroll.tree
        %Directory(initial_open root=root){path: "app"}
    .column
      .scroll
        %FileContents(root=root){path: $query[:file]}

:css
  article {
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    min-height: 100%;
  }

  .grid {
    flex: 1;
    display: grid;
    gap: 1em;
  }

  .tree {
    padding: 2em;
    background: var(--material-color-blue-gray-50);
    box-shadow: 0 0 1em var(--material-color-blue-gray-200);
    border-radius: 2px;
    list-style-type: none;
    font-size: .8em;
    user-select: none;
    overflow: auto;
  }

  .column {
    position: relative;
  }

  .scroll {
    position: absolute;
    inset: 0;
    overflow-y: auto;
  }

  @container (width > 50em) {
    .grid {
      grid-template-columns: 16em auto;
    }

    .column {
      min-height: 10em;
    }
  }
