:ruby
  Spinner = import("./90-ring-with-bg.svg")
:css
  .spinner {
    aspect-ratio: 1;
    background-size: contain;
    max-width: 10rem;
    margin: 1em auto;
  }
.spinner{style: { background_image: "url(#{Spinner})" }}
