.body {
  background: #000;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  display: grid;
  min-height: 100vh;
  grid-template:
    "header" auto
    "nav" auto
    "main" 1fr
    "footer" auto;
  overflow-y: scroll;
}

.body *,
.body *::before,
.body *::after {
  box-sizing: border-box;
}

.header {
  grid-area: header;
  background: #09c;
  color: #fff;
  display: flex;
  padding: 1em 0;
  overflow: hidden;
}

.maxWidth {
  width: min(100% - 2rem, 960px);
  margin-inline: auto;
}

.nav {
  grid-area: nav;
  background: #2ad;
  overflow: hidden;
}

.menu {
  /* TODO: Implement composes: maxWidth; */
  width: min(100% - 2rem, 960px);
  margin-inline: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.main {
  grid-area: main;
  background: #fff;
}

.footer {
  grid-area: footer;
}
