:css
  .button {
    background-color: var(--button-color, var(--accent-color));
    border: 0;
    border-radius: 2px;
    padding: 0.5em 1em;
    cursor: pointer;
    user-select: none;
    font-family: inherit;
    color: #fff;
  }

  .button:not(:disabled):active {
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%), inset 0 0 6px rgb(0 0 0 / 20%);
  }

  .button:not(:disabled):hover {
    background-image: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.05) 40%,
      rgba(0, 0, 0, 0.1)
    );
    text-decoration: underline;
  }

  .button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }

%button.button{style: { __button_color: props.fetch(:color, "var(--accent-color)")  }, **props.except(:color)}
  %slot
