:css
  .group {
    position: relative;
    margin: 1em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }

  .checkbox {
    margin: 0;

    font: inherit;
    color: inherit;
    width: 1.6em;
    height: 1.6em;
    border: 1px solid var(--blue);
    border-radius: 2px;

    display: grid;
    place-content: center;
    background: transparent;
    position: relative;
  }

  .label {
  }

:ruby
  classname = [
    styles[:checkbox],
    props[:class],
  ].compact.join(" ")

  group_classname = [
    styles.group,
    props[:group_class],
  ].compact.join(" ")

  id = "checkbox-#{vnode_id}"

%div(class=group_classname foo="hoppsan")
  %input(id=id){
    class: classname,
    type: "checkbox",
    placeholder: props[:label],
    **props.except(:label),
  }
  %label.label(for=id)
    = props[:label]
