.group {
  position: relative;
  margin: 1em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.checkbox {
  appearance: none;
  margin: 0;

  font: inherit;
  color: inherit;
  width: 1.6em;
  height: 1.6em;
  border: 1px solid var(--blue);
  border-radius: 2px;

  display: grid;
  place-content: center;
  background: transparent;
  position: relative;
}

.checkbox:hover {
  border-color: var(--dark);
}

.checkbox:checked {
  background: var(--blue);
}

.checkbox::after {
  display: block;
  content: "🞪";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: var(--bright);
  font-size: 2em;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
}

.checkbox:checked::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.checkbox:active::after {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.5;
}

.label {
}
