:css
  .fieldset {
    border: 1px solid var(--blue);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 0.9em;
  }

%fieldset.fieldset{**props}
  %slot
