.group
  %input(type="text" class=$class label=$label){**$*}
  %label= $label

:css
  .group {
    position: relative;
    margin: 1em 0;
  }

  input {
    width: 100%;
    font-size: inherit;
    padding: 0.5em;

    border: 1px solid var(--blue);
    transition: outline 100ms;
    border-radius: 2px;
  }

  input:hover {
    border-color: var(--dark);
  }

  input:focus {
    border: 1px solid var(--blue);
    outline: 1px solid var(--blue);
  }

  input:active {
    border: 1px solid var(--blue);
    outline: 1px solid var(--blue);
  }

  input::placeholder {
    color: transparent;
  }

  label {
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translate(0, -50%);
    pointer-events: none;
    transition: all 200ms ease-in-out;
    opacity: 0.8;
    padding: 0 0.2em;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: 0;
    background: #fff;
    font-size: 0.9em;
    opacity: 1;
  }

  input:invalid {
    border-color: var(--red);
    outline-color: var(--red);
  }

  input:required + label::after {
    content: " *";
    color: var(--red);
    font-weight: bold;
  }

  input:invalid:required {
    background: var(--red-bright);
  }

  input:not(:placeholder-shown):valid {
    border-color: var(--green);
    outline-color: var(--green);
  }

