:ruby
  Heading = import("/app/components/Layout/Heading")
  Markdown = import("/app/components/Markdown")

%article
  %Markdown{elems: { header: Heading }}
    :plain
      # Importing components

      Mayu has a resource system which builds a dependency graph
      of everything that the application consists of.

      If you want to import another component:

      ### `app/components/Button.haml`
      ```haml
      :css
        .button {
          border: none;
          background: var(--blue);
          color: var(--white);
        }
      %button.button{**props}
        %slot
      ```

      ### `app/pages/my-page/page.haml`
      ```haml
      :ruby
        Button = import("/app/components/Button")
      %Button Click here!
      ```
