:ruby
  MaxWidth = require("/app/components/Layout/MaxWidth")
  Heading = require("/app/components/Layout/Heading")

%MaxWidth
  %Heading(level=2)
    Page not found!
  %p
    %a(href="/")
      Go to the start page
