:ruby
  Clock = import("/app/components/Clock")
  Link = import("/app/components/UI/Link")
  Heading = import("/app/components/Layout/Heading")
  Section = import("./Section")

%Section
  %figure
    %Clock
    %figcaption
      %Heading(level=2) Server time
      %p This clock is being rendered on the server.
      %p It shows the current UTC-time.
      %p
        %Link(href="https://github.com/mayu-live/framework/blob/main/example/app/components/Clock.haml")<
          Show source
:css
  Section {
    background-color: #FAC05E;
    min-height: 50vh;
    display: flex;
    align-items: center;
  }
  figure {
    display: grid;
    align-items: center;
    gap: 2em 4em;
    grid-template-columns: 1fr;
  }
  figcaption {
    text-align: center;
  }
  Heading {
    margin-top: 0;
  }
  Clock {
    font-size: 0;
    --stroke: #000;
    --fill: #FEDC97;
  }
  @media (min-width: 42em) {
    figure {
      grid-template-columns: 1fr 1fr;
    }
  }
