:ruby
  Clock = import("/app/components/Clock")
  Link = import("/app/components/UI/Link")
  Heading = import("/app/components/Layout/Heading")
  Section = import("./Section")
:css
  Section {
    background-color: var(--material-color-teal-100);
    color: var(--material-color-teal-900);
  }
  figure {
    display: grid;
    align-items: center;
    gap: 4em;
    grid-template-columns: 1fr;
  }
  figcaption {
    text-align: center;
  }
  Clock {
    font-size: 0;
    --stroke: #000;
    --fill: var(--material-color-yellow-100);
  }
  @media (min-width: 42em) {
    figure {
      grid-template-columns: 1fr 1fr;
    }
  }
%Section
  %figure
    %Clock
    %figcaption
      %Heading Server time
      %p This clock is being rendered on the server.
      %p It shows the current UTC-time.
      %p
        %Link(href="https://github.com/mayu-live/framework/blob/main/example/app/components/Clock.haml")<
          Show source
