:ruby
  Card = import("/components/UI/Card")

  def initialize
    @count = $initial_count
  end

  def decrement_disabled =
    @count.zero?

  def handle_decrement =
    @count = (@count - 1).clamp(0, Float::INFINITY)

  def handle_increment =
    @count += 1

%Card
  %article
    %button(title="Decrement" onclick=handle_decrement disabled=decrement_disabled) －
    %output= @count
    %button(title="Increment" onclick=handle_increment) ＋

:css
  Card {
    margin: 4em auto;
    max-width: 10em;
    --card-background: #fffc;
  }

  article {
    display: flex;
    padding: 1em;
    align-items: center;
    user-select: none;
  }

  output {
    flex-basis: 3em;
    font-size: 1.2em;
    text-align: center;
  }

  button {
    flex: 1;
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
    transform: scale(1);
    background: var(--green);
    border: 0;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 2px 4px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    --transition-length: 100ms;
    transition:
      filter var(--transition-length),
      box-shadow var(--transition-length),
      transform var(--transition-length);
  }

  button:hover {
    filter: brightness(110%);
    transform: scale(1.2);
  }

  button:active {
    filter: brightness(80%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
  }

  button:disabled {
    filter: grayscale(100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
  }

