:ruby
  def self.get_initial_state(initial_value: 0, **)
    { count: initial_value }
  end

  def handle_decrement(_)
    update do |state|
      { count: [0, state[:count].pred].max }
    end
  end

  def handle_increment(_)
    update do |state|
      { count: state[:count].succ }
    end
  end

.counter
  - decrement_disabled = state[:count].zero?

  %button.button(title="Decrement" onclick=handle_decrement disabled=decrement_disabled) －

  %span.count= state[:count]

  %button.button(title="Increment" onclick=handle_increment) ＋
