.counter {
  display: flex;
  margin: 4em auto;
  max-width: 10em;
  align-items: center;
  background: var(--bright);
  border-radius: 2px;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button {
  flex: 1;
  border-radius: 100%;
  border: 0;
  background: var(--green);
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 2px 4px;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  color: #fff;
  transition: filter 0.1s, box-shadow 0.1s;
}

.button:hover {
  filter: brightness(110%);
}

.button:active {
  filter: brightness(80%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

.count {
  flex: 1;
  text-align: center;
  font-size: 1.2em;
  text-align: center;
}
