:ruby
  ITEMS = [
    "Component-based",
    "HAML templates",
    "100% server side",
    "100% async",
    "CSS-modules",
    "Asset handling",
    "Hot-reloading",
  ]

  def self.get_initial_state(**props)
    { index: 0 }
  end

  def mount
    loop do
      sleep 2.2

      update do |state|
        { index: state[:index].succ % ITEMS.size }
      end
    end
  end

:css
  .featureList {}
  .feature {}
  .active {
    color: var(--red);
    font-weight: bold;
    font-style: italic;
  }

%ul.featureList
  = ITEMS.map.with_index do |item, index|
    %li.feature{class: { active: index == state[:index] }}= item
