:ruby
  ITEMS = [
    "100% Server Side",
    "100% Async",
    "Haml-based components",
    "CSS-modules",
    "Automatic asset handling",
    "Hot-reloading in development",
    "… and much more!",
  ]

  def self.get_initial_state(**props) = {
    index: 0
  }

  def mount
    loop do
      sleep 2.2

      update do |state|
        { index: state[:index].succ % ITEMS.size }
      end
    end
  end

:css
  ul {}
  li {}
  .active {
    color: var(--red);
    font-weight: bold;
    font-style: italic;
  }

%ul
  = ITEMS.map.with_index do |item, index|
    %li{class: { active: index == state[:index] }}= item
