:ruby
  Icon = import("/app/components/UI/Icon")
  Link = import("/app/components/UI/Link")
  Heading = import("/app/components/Layout/Heading")
  Section = import("./Section")
  Feature = import("./Feature")
%Section
  %article
    %Heading#features(level=2)
      Features
    %p Here's a list of core features:

    %Feature

    %p
      Read more on
      %Link(target="_blank" href="https://github.com/mayu-live/framework#readme")<
        GitHub
        %Icon(name="github" color="var(--dark)")<
:css
  Section {
    background: #E2D58B;
    min-height: 50vh;
    display: flex;
    align-items: center;
  }

  Heading {
    margin-top: 0;
  }

  article {
  }
