:ruby
  Icon = import("/app/components/UI/Icon")
  Link = import("/app/components/UI/Link")
  Heading = import("/app/components/Layout/Heading")
  Section = import("./Section")
  FeatureThing = import("./FeatureThing")
%Section
  %article
    %Heading#features(level=2)
      Features
    %p Here's a list of core features:

    %FeatureThing

    %p
      Read more on
      %Link(href="https://github.com/mayu-live/framework#readme")<
        GitHub
      %Icon(name="github" color="var(--dark)")<
:css
  Section {
    background: var(--material-color-cyan-50);
    color: var(--material-color-cyan-900);
  }
  Heading {
    margin-top: 0;
  }
