:ruby
  Icon = import("/app/components/UI/Icon")
:css
  article {
    display: grid;
    grid-template-columns: 4em auto;
    gap: 2em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
  }

  Icon {
    font-size: 4em;
    transition: background 5s;
  }

  .content {
    font-size: .9em;
  }
:ruby
  props => icon:, title:
%article
  %Icon(name=icon color=$icon_color)
  .content
    %h3= title
    %slot
