:ruby
  Link = import("/components/UI/Link")
  Section = import("./Section")
  Highlight = import("./Highlight")

%Section
  .highlights
    %Highlight(icon="fire" icon-color="linear-gradient(var(--material-color-yellow-600),var(--material-color-red-900))" title="Interactive web apps without JavaScript")
      %ul
        %li
          Use
          %Link(href="https://haml.info/" target="_blank")<> Haml
          for markup,
          %Link(href="https://ruby-lang.org/" target="_blank")<> Ruby
          for logic.
        %li
          All code runs on the server.
        %li
          All HTML is rendered on the server.
        %li
          DOM-patches are streamed to the browser.
    %Highlight(icon="wand-magic-sparkles" icon-color="linear-gradient(var(--material-color-purple-300),var(--material-color-purple-900))" title="How does it work?")
      %ul.highlight-list
        %li
          Mayu implements a
          %Link(href="https://en.wikipedia.org/wiki/Virtual_DOM" target="_blank")<>
            Virtual DOM
          in Ruby.
        %li
          All DOM updates are streamed to a small browser runtime
          that takes care of patching the DOM.
        %li
          Event handlers run on the server.
    %Highlight(icon="rocket" icon-color="linear-gradient(var(--material-color-blue-gray-200),var(--material-color-blue-gray-900))" title="Efficient")
      %ul.highlight-list
        %li
          HTTP/2 Streams with
          %Link(href="https://developer.mozilla.org/en-US/docs/Web/API/Compression_Streams_API" target="_blank")<>
            compression
          and
          %Link(href="https://msgpack.org/index.html" target="_blank")<
            MessagePack
          \.
        %li
          Designed to be deployed on the edge.
        %li
          Pages are interactive immediately on
          %abbr(title="First Contentful Paint")< FCP
          \.
        %li
          %Link(href="https://prometheus.io/" target="_blank") Prometheus
          \-endpoint for real-time metrics.
    %Highlight(icon="code" icon-color="linear-gradient(var(--material-color-teal-200),var(--material-color-green-700))" title="Developer friendly")
      %ul.highlight-list
        %li
          Hot reloading updates the page as soon as you save.
        %li
          Asynchronous code without async/await or promises.
        %li
          %Link(href="https://ruby-lang.org/" target="_blank")> Ruby
          and
          %Link(href="https://haml.info/" target="_blank")<> Haml
          are really nice languages to work with.
:css
  Section {
    background: linear-gradient(
      135deg,
      var(--deep-purple),
      color-mix(in srgb, var(--deep-purple) 60%, #000)
    );
    color: #fffc;
    min-height: 100dvh;
    display: flex;
  }

  .highlights {
    list-style-type: none;
    margin: 2em 0;
    border: 0;
    padding: 0em;
    display: grid;
    gap: 2em;
    height: 100%;
    align-items: center;
  }

  @media (min-width: 50em) {
    .highlights {
      grid-template-columns: 1fr 1fr;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 1em 0;
    padding: 0;
  }
