:ruby
  MaxWidth = import("/app/components/Layout/MaxWidth")

  def self.get_initial_state(**props) = {
    angle: rand,
    word: nil
  }

  WORDS = %w[Mayu is a live updating server-side rendering web framework written in Ruby]

  def mount
    loop do
      sleep 15

      update do |state|
        { angle: state[:angle] + (rand - 0.5) / 2.0 }
      end

      WORDS.length.times do |i|
        update(word: i)
        sleep 0.15
      end

      update(word: nil)
    end
  end

.intro{style: { "--angle": "#{state[:angle]}turn" }}
  %MaxWidth
    .inner
      %h1
        Reactive web pages in Ruby
      %h2
        = WORDS.map.with_index do |word, i|
          %span.word[i]{class: { active: i == state[:word] }}= word
