:ruby
  MaxWidth = import("/components/Layout/MaxWidth")
  Text = import("./mayu.svg")
  Background = import("./hexagons.svg")

  WORDS = %w[Mayu is a live updating server-side rendering web framework written in Ruby]

  def initialize
    @angle = rand
    @word = nil
  end

  def mount
    loop do
      sleep 3

      @angle = (rand - 0.5) * 0.5

      WORDS.length.times do |i|
        @word = i
        sleep 0.15
      end

      @word = nil
    end
  end

%section{style: { __angle: "#{@angle}turn" }, data: { intro: true }}
  .background{style: { mask_image: "url(#{Background})" }}
  %MaxWidth
    %img(src=Text)
    %h1
      Reactive web pages in Ruby
    %h2
      = WORDS.map.with_index do |word, i|
        %span.word[i]{class: { active: i == @word }}= word
