:ruby
  MaxWidth = import("/app/components/Layout/MaxWidth")

  def self.get_initial_state(**props) = {
    angle: 328,
    word: nil
  }

  WORDS = %w[Mayu is a live-streaming server-side rendering web framework written in Ruby]

  def mount
    loop do
      sleep 15
      update(angle: rand(360 * 2))

      WORDS.length.times do |i|
        update(word: i)
        sleep 0.5
      end

      update(word: nil)
    end
  end

.intro{style: { "--angle": "#{state[:angle]}deg" }}
  %MaxWidth
    .inner
      %h1.title
        Reactive Server-Side component-based VirtualDOM framework for Ruby
      %h2.subtitle
        = WORDS.map.with_index do |word, i|
          %span.word{class: { active: i == state[:word] }}
            = "#{word} "
