@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 10deg;
}

.intro {
  --angle: 328deg;
  transition: --angle 3s ease-in-out;
  background: linear-gradient(
    var(--angle),
    #f9dc5c 0%,
    #f29b59 20%,
    #e84855 40%,
    #3185fc 60%,
    #1b62c9 80%,
    #403f4c 100%
  );
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--bright);
  gap: 4em;
  padding: 4em 2em;
  container-type: inline-size;
}

h1 {
  font-size: max(4cqw, 1.5em);
  line-height: 1.5em;
  margin: 0;
  text-wrap: balance;
}

h2 {
  margin: 0;
  font-weight: 100;
  font-size: max(3cqw, 1.2em);
  line-height: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.word {
  display: inline-block;
  --transition-length: 1000ms;
  transition: scale var(--transition-length),
    text-shadow var(--transition-length), translate var(--transition-length);
  text-shadow: 0 0 0 #fff;
  scale: 1;
}

.active {
  --transition-length: 100ms;
  text-shadow: 0 0 10px #fff;
  translate: 0 -0.2em;
}
