:ruby
  MaxWidth = import("/app/components/Layout/MaxWidth")

  def self.get_initial_state(**props) = {
    angle: rand,
    word: nil
  }

  WORDS = %w[Mayu is a live-streaming server-side rendering web framework written in Ruby]

  def mount
    loop do
      sleep 15
      update(angle: rand)

      WORDS.length.times do |i|
        update(word: i)
        sleep 0.5
      end

      update(word: nil)
    end
  end

.intro{style: { "--angle": "#{state[:angle] * 2}turn" }}
  %MaxWidth
    .inner
      %h1
        Reactive Server-Side component-based VirtualDOM framework for Ruby
      %h2
        = WORDS.map.with_index do |word, i|
          %span{class: { active: i == state[:word] }}= word
