:ruby
  MaxWidth = import("/app/components/Layout/MaxWidth")

  def self.get_initial_state(**props) = {
    angle: rand,
    word: nil
  }

  WORDS = %w[Mayu is a live-streaming server-side rendering web framework written in Ruby]

  def mount
    loop do
      sleep 15
      @angle = rand

      WORDS.length.times do |i|
        @word = i
        sleep 0.5
      end

      @word = nil
    end
  end

.intro{style: { "--angle": "#{@angle * 2}turn" }}
  %MaxWidth
    .inner
      %h1
        Reactive Server-Side component-based VirtualDOM framework for Ruby
      %h2
        = WORDS.map.with_index do |word, i|
          %span{class: { active: i == @word }}= word
