@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 10deg;
}

.intro {
  --angle: 328deg;
  transition: --angle 3s ease-in-out;
  background: linear-gradient(
    var(--angle),
    var(--material-color-amber-300) 0%,
    var(--material-color-orange-400) 10%,
    var(--material-color-red-400) 20%,
    var(--material-color-deep-purple-400) 50%,
    var(--material-color-indigo-400) 60%,
    var(--material-color-blue-800) 80%,
    var(--material-color-blue-gray-800) 100%
  );
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--bright);
  gap: 4cqw;
  padding: 10cqw 0;
  container-type: inline-size;
}

h1 {
  font-size: max(4cqw, 1.5em);
  line-height: 1.5em;
  margin: 0;
  text-wrap: balance;
  font-weight: 800;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: max(3cqw, 1.2em);
  line-height: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.word {
  display: inline-block;
  --transition-length: 1000ms;
  transition: scale var(--transition-length),
    text-shadow var(--transition-length), transform var(--transition-length);
  text-shadow: 0 0 0 #fff;
  scale: 1;
}

.active {
  --transition-length: 100ms;
  text-shadow: 0 0 10px #fff;
  transform: translateY(-0.2em) scale(110%);
}
