:ruby
  Intro = import("./Intro")
  Header = import('../components/Layout/Header')
  Footer = import('../components/Layout/Footer')

%body.body
  %Header.header{max_width: styles.maxWidth}

  %main.main
    = if props[:path] == "/app/pages/page.haml"
      %Intro
    %slot

  %Footer.footer{max_width: styles.maxWidth}
