:root {
  /* TODO: Move these to root.css */
  --dark: #403f4c;
  --bright: #fff;
  --red: #e84855;
  --yellow: #f9dc5c;
  --yellow-bright: #fdf1be;
  --green: #6fff80;
  --blue: #3185fc;
  --blue-bright: #e9f2ff;
  --pink: #efbcd5;
  --pink-bright: #f9e5ef;
  --page-max-width: 960px;
}

.body {
  background: var(--dark);
  color: var(--bright);
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
  display: grid;
  min-height: 100vh;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto;
  overflow-y: scroll;
}

.body *,
.body *::before,
.body *::after {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: inherit;
}

.header {
  grid-area: header;
  color: var(--yellow);
  display: flex;
  padding: 1em 0;
  overflow: hidden;
}

.maxWidth {
  width: min(100% - 2rem, var(--page-max-width));
  margin-inline: auto;
}

.main {
  grid-area: main;
  background: var(--bright);
  color: var(--dark);
  padding-bottom: 1rem;
}

.footer {
  grid-area: footer;
}
