:ruby
  Intro = require("./Intro")
  Header = require('../components/Layout/Header')
  Footer = require('../components/Layout/Footer')

%body.body
  %Header.header{max_width: styles.maxWidth}

  %main.main
    = if props[:path] == "/app/pages/page.haml"
      %Intro
    = children

  %Footer.footer{max_width: styles.maxWidth}
