:ruby
  Header = import('../components/Layout/Header')
  Footer = import('../components/Layout/Footer')

.grid
  %Header
  %main
    %slot
  %Footer

:css
  .grid {
    height: 100%;
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  main {
    background: var(--main-background);
    color: var(--main-color);
    --link-color: var(--main-link-color);
  }
