.body {
  background: var(--dark);
  color: var(--bright);
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
  display: grid;
  min-height: 100vh;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto;
  overflow-y: scroll;
}

.header {
  grid-area: header;
  color: var(--yellow);
  display: flex;
  padding: 1em 0;
  overflow: hidden;
}

.maxWidth {
  width: min(100% - 2rem, var(--page-max-width));
  margin-inline: auto;
}

.main {
  grid-area: main;
  background: var(--bright);
  color: var(--dark);
}

.footer {
  grid-area: footer;
}
