:ruby
  Intro = import("./Intro")
  Blurbs = import("./Blurbs")
  CounterSection = import("./CounterSection")
  FeatureSection = import("./FeatureSection")
  ClockSection = import("./ClockSection")

%div
  %Intro
  %Blurbs
  %CounterSection
  %ClockSection
  %FeatureSection
