.featuresOuter {
  overflow: hidden;
}

.features {
  margin: 3em;
}

.featuresHeading {
  margin: 0;
  font-size: 2em;
}

.sectionsOuter {
  overflow: hidden;
  background: var(--yellow);
  color: var(--dark);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.sections {
  width: min(100%, var(--page-max-width));
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding: 4em;
  gap: 4em;
}

.section {
  width: 100%;
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff9;
  margin-inline: auto;
}

.sectionInner {
  margin: 2em;
}

.sectionTitle {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
}

.exampleOuter {
  background: var(--green-bright);
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.example {
  width: min(100%, var(--page-max-width));
  margin-inline: auto;
  max-width: 40em;
  margin: 4em auto;
  padding: 0;
}

.exampleHeading {
  font-size: 1.5rem;
}
