:ruby
  Intro = import("./Intro")
  HighlightsSection = import("./HighlightsSection")
  CounterSection = import("./CounterSection")
  FeatureSection = import("./FeatureSection")
  ClockSection = import("./ClockSection")

%div
  %Intro
  %HighlightsSection
  %CounterSection
  %ClockSection
  %FeatureSection
