:ruby
  Intro = import("./Intro")
  HighlightsSection = import("./HighlightsSection")
  Interactivity = import("./Interactivity")
  FeatureSection = import("./FeatureSection")
  ClockSection = import("./ClockSection")

.page
  %Intro
  %HighlightsSection
  %Interactivity
  %ClockSection
  %FeatureSection

:css
  .page {
    display: grid;
  }
