:ruby
  Blurbs = import("./Blurbs")
  CounterSection = import("./CounterSection")
  FeatureSection = import("./FeatureSection")
  ClockSection = import("./ClockSection")

%div
  %Blurbs
  %CounterSection
  %ClockSection
  %FeatureSection
