.featuresOuter {
  overflow: hidden;
}

.features {
  margin: 3em;
}

.features-flex {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.features-col {
  flex: 1 0 50%;
}

.clock {
  flex: 1 1 30%;
}

.clock-figure {
  border: 1px solid var(--pink);
  border-radius: 2px;
  background: var(--pink-bright);
  margin: 0;
  padding: 0.5em;
}

.clock-figcaption {
  font-size: 0.8em;
  margin: 0;
}

.features-heading {
  margin: 0;
  font-size: 2em;
}

.sections-outer {
  overflow: hidden;
  background: var(--yellow);
  color: var(--dark);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.sections {
  width: min(100%, var(--page-max-width));
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding: 4em;
  gap: 4em;
}

.section {
  width: 100%;
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff9;
  margin-inline: auto;
}

.section-inner {
  margin: 2em;
}

.section-title {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
}

.example-outer {
  background: var(--green-bright);
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.example {
  width: min(100%, var(--page-max-width));
  margin-inline: auto;
  max-width: 40em;
  margin: 4em auto;
  padding: 0;
}

.example-heading {
  font-size: 1.5rem;
}
