:ruby
  def should_update?(next_props, _next_state)
    case
    when props[:alive] != next_props[:alive]
      true
    when props[:x] != next_props[:x]
      true
    when props[:y] != next_props[:y]
      true
    else
      false
    end
  end

:css
  button {
    border: 0;
    aspect-ratio: 1;
    flex: 1;
  }

  button { background: #fff; }
  button:hover { background: #f0f0f0; }

  .alive { background: #333; }
  .alive:hover { background: #666; }

  button:active:hover { background: #000; }

:ruby
  props => x:, y:, alive:, ondraw:, **rest
  value = "#{x} #{y}"

%button{
  **rest,
  value:,
  class: { alive: },
  oncontextmenu: "event.preventDefault()",
  onmousedown: ondraw,
  onmouseenter: ondraw,
}
