:ruby
  Cell = import("./Cell")

:css
  .grid {
    user-select: none;
    touch-action: none;
    margin: 2em auto;
    background: #000;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: 30rem;
  }

  .row {
    display: flex;
    gap: 1px;
  }

:ruby
  props => grid:, ondraw:

.grid
  = $grid.map.with_index do |row, y|
    .row[y]
      = row.map.with_index do |alive, x|
        %Cell["#{x}.#{y}"]{ondraw:, alive:, x:, y:}
