:ruby
  Heading = import("/app/components/Layout/Heading")
  Markdown = import("/app/components/Markdown")

%article
  %Markdown{elems: { header: Heading }}
    :plain
      # Resources

      Mayu has a resource system which builds a dependency graph
      of everything that the application consists of.

      ## Importing components

      If you want to import another component:

      ### `app/components/Button.haml`
      ```haml
      :css
        .button {
          border: none;
          background: var(--blue);
          color: var(--white);
        }
      %button.button{**props}
        %slot
      ```

      ### `app/pages/my-page/page.haml`
      ```haml
      :ruby
        Button = import("/app/components/Button")
      %Button Click here!
      ```

      ## Images

      To load an image, you do basically the same thing,
      but you use the `image()`-method which validates that
      the file is an image.

      ```haml
      :ruby
        Image = image("./río_amazonas.jpeg")
      %img{src: Image.src}
      ```

      A more complete example:

      ```haml
      :ruby
        Image = image("./río_amazonas.jpeg")
      %img.img{
        src: Image.src,
        sizes: Image.sizes,
        srcset: Image.srcset,
        width: Image.original.width,
        height: Image.original.height,
      }(alt="Amazon river")
      ```
