:ruby
  Icon = import("/components/UI/Icon")
  Link = import("/components/UI/Link")
  Card = import("/components/UI/Card")

%Card(border="var(--yellow)" background="var(--yellow-bright)")
  .flex
    %p
      %Icon(name="person-digging" color="var(--dark)")
      %span This page is under construction!
    = if $path
      %p
        %Icon(name="github" color="var(--dark)")
        %Link(href="https://github.com/mayu-live/framework/blob/main/example/app/pages#{$path}/page.haml" target="_blank")
          Edit on GitHub
:css
  Card {
    margin: 1.5em 0;
    color: var(--dark);
    --card-background: #ffd562;
    font-family: var(--font-mono);
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  p {
    display: inline-flex;
    gap: 1em;
    margin: 1em;
    align-items: center;
    font-size: .8em;
  }

  Icon {
    font-size: 2em;
  }
