:ruby
  Markdown = import("../Markdown")
%article
  %Markdown
    :plain
      # Why Mayu?

      ## Key features

      * **Server side Virtual DOM:**
        Reactive web apps where the code runs in a trusted environment.
      * **Zero JS:**
        It's 100% Ruby and it runs on the server.
      * **No REST/GraphQL necessary:**
        Callbacks are regular POST-requests with an id that maps
        to a component instance and a handler method name.
      * **Edge-ready:**
        Scale your app to where your users are located.
        This website is deployed to [fly.io](https://fly.io/).
      * **Hot reloading:**
        Makes development super fast by not requiring manual browser refresh.
      * **Simple syntax:**
        Ruby and Haml are famous for being readable and easy to use.

      ## Why not Mayu?

      Before you use Mayu, consider that:

      * Mayu is made for current and future browsers.
      * Mayu is not production ready.
      * No packages have been released yet.
      * There are plenty of bugs.

      If you still think Mayu is interesting,
      feel free to clone and play around with it.

      Contributions are welcome!
