:ruby
  Fieldset = import("/app/components/Form/Fieldset")
  Details = import("/app/components/UI/Details")
  YouTubeVideo = import("/app/components/UI/YouTubeVideo")
  Link = import("/app/components/UI/Link")

  def self.get_initial_state(**props) = {
    user: nil
  }

  def handle_submit(e)
    e => { target: { formData: { email:, password: } } }

    update(user: { email:, password: })
  end

  def handle_log_out
    update(user: nil)
  end

- state => user:

- return if user
  %div
    %p
      Logged in as #{user[:email]}.
    %div
      %button{on_click: handler(:handle_log_out)}
        Log out

%div
  %p
    Pure HTML/CSS validation demo.
    This shows that JavaScript is not necessary for validations.
    By utilizing standard browser features instead of custom JavaScript,
    web pages can be faster, use less resources and be more accessible.
  %p
    It should work in browsers that
    %Link(href="https://caniuse.com/css-has")<
      support the
      %code< :has()
      —pseudo-class
    = "."

  %Fieldset
    %legend Fake log in form

    %p
      This is a fake form. Don't enter any real credentials.
      Any combination of email and password will work.

    %form.form{on_submit: handler(:handle_submit)}
      .formGroup
        %label.label
          %span Email
        %input.input(name="email" type="email" required placeholder="Please enter your email address" autocomplete="off")
      .formGroup
        %label.label
          %span Password
        %input.input(name="password" type="password" required pattern=".{8,}" placeholder="Enter password (8+ characters)" autocomplete="off")

      %div
        %button.button(type="submit") Submit

  %p
    This is based on the following YouTube video by
    %Link(href="https://www.youtube.com/kepowob" target="_blank")< Kevin Powell
    , who has a great channel about HTML and CSS. Check it out!
  %Details(summary="Video: How is this possible with CSS only?!")
    %YouTubeVideo(video_id="g-Y31Iswr2M")
