:ruby
  Fieldset = import("/components/Form/Fieldset")
  Details = import("/components/UI/Details")
  YouTubeVideo = import("/components/UI/YouTubeVideo")
  Link = import("/components/UI/Link")

  User = Data.define(:email, :password)

  def initialize
    @user = nil
  end

  def handle_submit(e)
    e => { target: { formData: { email:, password: } } }

    @user = User[email, password]
  end

  def handle_log_out
    @user = nil
  end

- return if @user
  %div
    %p
      Logged in as #{@user.email}.
    %div
      %button(onclick=handle_log_out)
        Log out

%div
  %p
    Pure HTML/CSS validation demo.
    This shows that JavaScript is not necessary for validations.
    By utilizing standard browser features instead of custom JavaScript,
    web pages can be faster, use less resources and be more accessible.

  %Fieldset
    %legend Fake log in form

    %p
      This is a fake form. Don't enter any real credentials.
      Any combination of email and password will work.

    %form.form(onsubmit=handle_submit)
      .formGroup
        %label.label
          %span Email
        %input.input(name="email" type="email" required placeholder="Please enter your email address" autocomplete="off")
      .formGroup
        %label.label
          %span Password
        %input.input(name="password" type="password" required pattern=".{8,}" placeholder="Enter password (8+ characters)" autocomplete="off")

      %div
        %button.button(type="submit") Submit

  %p
    This is based on the following YouTube video by
    %Link(href="https://www.youtube.com/kepowob" target="_blank")< Kevin Powell
    , who has a great channel about HTML and CSS. Check it out!
  %Details(summary="Video: How is this possible with CSS only?!")
    %YouTubeVideo(video_id="g-Y31Iswr2M")
