:ruby
  MaxWidth = require("/app/components/Layout/MaxWidth")
  Heading = require("/app/components/Layout/Heading")
  Tabs = require("/app/components/Layout/Tabs")
  Hr = require("/app/components/Layout/Hr")
  LogInForm = require("./LogInForm")
  Elements = require("./Elements")
  TransferList = require("./TransferList")

%MaxWidth
  %Heading(level=1) Form demo

  %p
    These examples show how form elements can be used.
  %p
    The tabs load asynchronously.

  %Tabs
    %div(slot="Log in form")
      %Heading(level=2) Log in form
      %LogInForm
    %div(slot="Elements")
      %Heading(level=2) Elements
      %Elements
    %div(slot="Transfer list")
      %Heading(level=2) Transfer list
      %TransferList
