.container {
  display: flex;
  gap: 1em;
  max-height: 20em;
}

.list {
  border: 1px solid var(--blue);
  border-radius: 2px;
  flex: 1;
  margin: 0;
  padding: 0.5em;
  list-style-type: none;
  overflow-y: scroll;
}

.item {
  padding: 0;
  margin: 0;
}

.buttons {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.button {
  border: 1px solid var(--blue);
  border-radius: 2px;
  font: inherit;
  aspect-ratio: 1;
  display: block;
  min-width: 2em;
}
