form {
  display: flex;
  gap: 1em;
  max-height: 20em;
}

ul {
  border: 1px solid var(--blue);
  border-radius: 2px;
  flex: 1;
  margin: 0;
  padding: 0.5em;
  list-style-type: none;
  overflow-y: scroll;
  user-select: none;
}

li .group {
  margin: 0;
}

li {
  padding: 0.5em;
  margin: 0;
}

li:has(:checked) {
  background: var(--accent-color);
  color: #fff;
  font-weight: bold;
}

.buttons {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

button {
  border: 1px solid var(--blue);
  border-radius: 2px;
  font: inherit;
  aspect-ratio: 1;
  display: block;
  overflow: hidden;
  background: var(--accent-color);
  color: #fff;
  font-weight: bold;
  width: 1.2em;
  font-size: 1.4em;
  line-height: 1em;
  text-align: center;
  padding: 0em;
}
