.header {
  background: var(--blue);
  color: var(--white);
  text-shadow: 2px 2px 7px #0009;
  padding: 1em;
}

.inner {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0 1em;
}

.title {
  font-family: var(--title-font), cursive;
  font-size: 3em;
  line-height: 1em;
  font-weight: 100;
}

.tagline {
  font-size: 0.9em;
  white-space: nowrap;
}
