.buttons {
  list-style-type: none;
  display: flex;
  gap: 1em;
  padding: 1em;
  margin: 0 auto;
  max-width: var(--page-max-width);
  flex-wrap: wrap;
}

.button {
  flex: 1;
  cursor: pointer;
  border-radius: 3px;
  background: #14ccca;
  transition: all 0.1s;
  border: 1px solid #0001;
  padding: 0.5em;
  font-size: 0.9em;
  font-family: monospace;
}

.button:hover {
  color: var(--white);
  filter: brightness(110%);
}

.button:active {
  filter: brightness(90%);
}

.selected {
  background: #8ed565;
}
