.footer {
  background: #000;
  color: #fff;
}

.p {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 1em;
}

.link::link,
.link::visited {
  color: #ccc;
  text-decoration: none;
}

.link::active,
.link::hover {
  color: #fff;
  text-decoration: underline;
}
