.header {
  background: #14ccca;
  color: #e3fcfc;
  padding: 1em;
}

.inner {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
}

.title {
  font-family: 'Shrikhand', cursive;
  font-size: 3em;
  margin: 0;
}

.tagline {
  font-size: 1.2em;
}

.clock {
}
