.header {
  background: #14ccca;
  color: #e3fcfc;
  padding: 1em;
}

.inner {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0 1em;
}

.title {
  font-size: 2em;
}

.tagline {
  font-size: 1.2em;
}
