:ruby
  ICONS = {
    "arrows-rotate" => import("./arrows-rotate-solid.svg"),
    "bars" => import("./bars-solid.svg"),
    "cloud-arrow-down" => import("./cloud-arrow-down-solid.svg"),
    "code" => import("./code-solid.svg"),
    "code-compare" => import("./code-compare-solid.svg"),
    "code-pull-request" => import("./code-pull-request-solid.svg"),
    "dice" => import("./dice-solid.svg"),
    "file-code" => import("./file-code-solid.svg"),
    "file-image" => import("./file-image-solid.svg"),
    "file-lines" => import("./file-lines-solid.svg"),
    "file" => import("./file-solid.svg"),
    "filter" => import("./filter-solid.svg"),
    "fire" => import("./fire-solid.svg"),
    "flask" => import("./flask-solid.svg"),
    "folder-open" => import("./folder-open-solid.svg"),
    "folder" => import("./folder-solid.svg"),
    "forward-step" => import("./forward-step-solid.svg"),
    "gauge-high" => import("./gauge-high-solid.svg"),
    "gauge" => import("./gauge-solid.svg"),
    "gem" => import("./gem-solid.svg"),
    "github" => import("./github.svg"),
    "globe" => import("./globe-solid.svg"),
    "heart" => import("./heart-solid.svg"),
    "html5" => import("./html5.svg"),
    "keyboard" => import("./keyboard-solid.svg"),
    "language" => import("./language-solid.svg"),
    "laptop-code" => import("./laptop-code-solid.svg"),
    "link" => import("./link-solid.svg"),
    "minus" => import("./minus-solid.svg"),
    "network-wired" => import("./network-wired-solid.svg"),
    "pause" => import("./pause-solid.svg"),
    "person-digging" => import("./person-digging-solid.svg"),
    "play" => import("./play-solid.svg"),
    "plus" => import("./plus-solid.svg"),
    "question" => import("./question-solid.svg"),
    "rocket" => import("./rocket-solid.svg"),
    "seedling" => import("./seedling-solid.svg"),
    "server" => import("./server-solid.svg"),
    "square-github" => import("./square-github.svg"),
    "star" => import("./star-solid.svg"),
    "up-right-from-square" => import("./up-right-from-square-solid.svg"),
    "wand-magic-sparkles" => import("./wand-magic-sparkles-solid.svg"),
    "xmark" => import("./xmark-solid.svg"),
  }.freeze

:ruby
  url = ICONS[$name] or return

  aria = $title ? {} : { hidden: "true" }

  style = {
    **($style || {}),
    __icon: "url(#{url})",
    __icon_color: $color
  }.reject { _2.nil? }

  nil

%i{
  class: $class,
  title: $title,
  style:,
  aria:,
}

:css
  i {
    display: inline-block;
    width: 1em;
    aspect-ratio: 1;
    background: var(--icon-color, currentcolor);
    -webkit-mask-image: var(--icon);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: 50% 50%;
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: 50% 50%;
  }
