:css
  .a:link, .a:visited {
    color: #fff;
    text-decoration: none;
    opacity: .8;
    transition: opacity 100ms;
  }

  .a:active, .a:hover {
    text-decoration: underline;
    opacity: 1;
  }
%a.a{href: props[:path]}= props[:text]
