:ruby
  # Usage:
  #
  #   %Details(summary="What is guaba?")
  #     %p
  #       Inga edulis, known as ice-cream bean, joaquiniquil, cuaniquil,
  #       guama or guaba, is a fruit native to South America.
  #
  #  To lazily load content, add the lazy prop:
  #
  #    %Details(summary="What is guaba?" lazy)
  #      %HeavyComponent

  Card = import("/app/components/Layout/Card")

  def self.get_initial_state(initial_open: false, lazy: false, **)
    {
      open: initial_open,
      loaded: initial_open || !lazy
    }
  end

  def handle_toggle(e)
    if e in { target: { open: true } }
      update(loaded: true)
    end
  end

:css
  .details {
    padding: 0.5em 0.5em 0;
  }

  .summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
    user-select: none;
  }

  .details[open] {
    padding: 0.5em;
  }

  .details[open] .summary {
    border-bottom: 1px solid #0003;
    margin-bottom: 0.5em;
  }

  .loading {
    margin: 0;
    padding: 0;
  }

- state => open:

%Card{class: props[:class]}
  %details.details(ontoggle=handle_toggle open=open)
    %summary.summary= props[:summary]
    %div.content
      = if state[:loaded]
        %slot
      = unless state[:loaded]
        %p.loading Loading…
