:ruby
  MaxWidth = import("/app/components/Layout/MaxWidth")
  Languages = import("./Languages")
  Badges = import("./Badges")

:css
  .footer {
    min-height: 5em;
  }

  .inner {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .link:link,
  .link:visited {
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.2s;
  }

  .link:active,
  .link:hover {
    text-decoration: underline;
    color: #fff;
    opacity: 1;
  }
%footer.footer{class: props[:class]}
  %MaxWidth.inner
    %p
      - year = [2022, Time.now.year].uniq.join("—")
      Copyright © #{year}
      %a.link(href="https://github.com/mayu-live" target="_blank")<
        github.com/mayu-live

    %Languages
    %Badges
