:ruby
  MaxWidth = import("./MaxWidth")
  Badge = import("./Footer/Badge")

  BADGES = [
    {
      href: "https://github.com/mayu-live/framework/search?l=Ruby&type=code",
      alt: "top language",
      src: "https://img.shields.io/github/languages/top/mayu-live/framework",
    }, {
      href: "https://github.com/mayu-live/framework/actions/workflows/ruby.yml",
      alt: "Ruby build status",
      src: "https://img.shields.io/github/workflow/status/mayu-live/framework/Ruby/main?label=ruby"
    }, {
      href: "https://github.com/mayu-live/framework/actions/workflows/node.js.yml",
      alt: "JavaScript build status",
      src: "https://img.shields.io/github/workflow/status/mayu-live/framework/Node.js%20CI/main?label=JavaScript",
    }, {
      href: "https://github.com/mayu-live/framework/blob/main/COPYING",
      alt: "License: AGPL-3.0",
      src: "https://img.shields.io/github/license/mayu-live/framework",
    }, {
      href: "https://status.mayu.live/",
      alt: "uptime status",
      src: "https://img.shields.io/badge/uptime-up-green",
    }, {
      href: "https://github.com/mayu-live/framework/stargazers",
      alt: "GitHub Stars",
      src: "https://img.shields.io/github/stars/mayu-live/framework?style=social",
    }
  ]

:css
  footer {
    min-height: 5em;
  }

  .inner {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .badges {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
  }

  a:link,
  a:visited {
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.2s;
  }

  a:active,
  a:hover {
    text-decoration: underline;
    color: #fff;
    opacity: 1;
  }

%footer{**props}
  %MaxWidth.inner
    %p
      - year = [2022, Time.now.year].uniq.join("—")
      Copyright © #{year}
      %a(href="https://github.com/mayu-live" target="_blank")<
        github.com/mayu-live

    %p.badges
      = BADGES.map do |badge|
        %Badge{**badge}[badge[:src]]
