:ruby
  MaxWidth = require("/app/components/Layout/MaxWidth")

:css
  .footer {
    min-height: 5em;
  }

  .inner {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .link:link,
  .link:visited {
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.2s;
  }

  .link:active,
  .link:hover {
    text-decoration: underline;
    color: #fff;
    opacity: 1;
  }

  .badges {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
  }

%footer.footer{class: props[:class]}
  %MaxWidth.inner
    %p
      Copyright ©
      = " "
      #{[2022, Time.now.year].uniq.join("—")}
      = " "
      %a.link(href="https://github.com/mayu-live")
        github.com/mayu-live

    %p.badges
      %a{href: "https://github.com/mayu-live/framework/search?l=Ruby&type=code"}
        %img{
          alt: "top language",
          loading: "lazy",
          src: "https://img.shields.io/github/languages/top/mayu-live/framework"
        }
      %a{href: "https://github.com/mayu-live/framework/actions/workflows/ruby.yml"}
        %img{
          alt: "Ruby build status",
          loading: "lazy",
          src: "https://img.shields.io/github/workflow/status/mayu-live/framework/Ruby/main?label=ruby"
        }
      %a{href: "https://github.com/mayu-live/framework/actions/workflows/node.js.yml"}
        %img{
          alt: "JavaScript build status",
          loading: "lazy",
          src: "https://img.shields.io/github/workflow/status/mayu-live/framework/Node.js%20CI/main?label=JavaScript"
        }
      %a{href: "https://github.com/mayu-live/framework/blob/main/COPYING"}
        %img{
          alt: "License: AGPL-3.0",
          loading: "lazy",
          src: "https://img.shields.io/github/license/mayu-live/framework"
        }
      %a{href: "https://github.com/mayu-live/framework/stargazers"}
        %img{
          alt: "GitHub Stars",
          src: "https://img.shields.io/github/stars/mayu-live/framework?style=social"
        }
