:ruby
  MaxWidth = import("./MaxWidth")

.layout
  .breadcrumbs
    %slot(name="breadcrumbs")
  %nav
    %slot(name="menu")
  %MaxWidth#page
    %slot

:css
  .layout {
    height: 100%;
    position: relative;
    display: grid;
    grid-template:
      "breadcrumbs" auto
      "menu" auto
      "content" 1fr;
  }

  nav {
    font-family: var(--font-heading);
    grid-area: menu;
    background: linear-gradient(var(--menu-background), var(--pink) 600%);
    color: var(--menu-color);
    border-bottom: var(--thin-border);
  }

  MaxWidth {
    grid-area: content;
    display: grid;
    padding: 1em 0;
  }

  /* 60rem + 14rem + 4rem = 78rem */
  @media (min-width: 78rem) {
    .layout {
      display: grid;
      grid-template:
        "breadcrumbs breadcrumbs" auto
        "menu content" 1fr
        / 14em 1fr;
    }

    nav {
      border-bottom: 0;
      border-right: var(--thin-border);
      container-type: inline-size;
    }
  }

  .breadcrumbs {
    grid-area: breadcrumbs;
  }

  .breadcrumbs:empty {
    display: none;
  }
