:ruby
  MaxWidth = import("./MaxWidth")
:css
  .layout {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .menu {
    background: var(--blue-bright);
    color: var(--dark);
    --menu-direction: row;
  }
  .layout { border: 5px solid #00c; }

  .scroll {
    padding: 1em;
  }

  .page {
    padding: 1em 0;
  }

  /* 46em * 2 - 14em = 78em */
  @media (min-width: 78em) {
    .layout { border: 5px solid #00c; }
    .scroll {
      position: absolute;
      inset: 0;
      max-height: 100%;
      overflow-y: auto;
    }

    .menu {
      --menu-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: var(--menu-width);
      height: 100%;
    }
  }

  /* 46em + 14em + 4em = 64em */
  @media (min-width: 64em) and (max-width: 78em) {
    .layout {
      border: 5px solid #c00;
      display: grid;
      grid-template-columns: min-content auto;
    }

    .scroll {
      position: absolute;
      inset: 0;
      max-height: 100%;
      overflow-y: auto;
    }

    .menu {
      --menu-direction: column;
      width: var(--menu-width);
      position: relative;
      height: 100vh;
    }
  }
.layout
  %nav.menu
    .scroll
      %slot(name="menu")
  %MaxWidth#page.page
    %slot
