:ruby
  MaxWidth = import("./MaxWidth")
:css
  .layout {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  nav {
    background: var(--blue-bright);
    color: var(--dark);
    --menu-direction: row;
  }

  .scroll {
    padding: 1em;
  }

  MaxWidth {
    display: grid;
    margin-bottom: 2em;
    flex: 1;
  }

  /* 60rem + 14rem + 4rem = 78rem */
  @media (min-width: 78rem) {
    .layout {
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: min-content auto;
    }

    .scroll {
      position: absolute;
      inset: 0;
      max-height: 100%;
      overflow-y: auto;
    }

    nav {
      --menu-direction: column;
      width: var(--menu-width);
      position: relative;
      height: 100%;
    }
  }

  .breadcrumbs {
    grid-column: 1 / span 2;
  }

  .breadcrumbs:empty {
    display: none;
  }

.layout
  .breadcrumbs
    %slot(name="breadcrumbs")

  %nav
    .scroll
      %slot(name="menu")
  %MaxWidth#page
    %slot
