:ruby
  # class scope

:ruby
  level = $level.to_i.clamp(1, 6)
  tag = :"h#{level}"
  classname = styles[:h, tag, styles[:class]]

  Mayu::VDOM::H[
    tag,
    *children,
    **props.except(:level).merge(class: classname),
  ]
:css
  .h {
    font-weight: 300;
    line-height: 1.25em;
  }
  .h1 { font-size: 3em; }
  .h2 { font-size: 2.5em; }
  .h3 { font-size: 2.25em; }
  .h4 { font-size: 2em; }
  .h5 { font-size: 1.5em; }
  .h6 { font-size: 1em; }
