%header{class: props[:class]}
  .inner
    %a.titleLink(href="/" title="Start page")
      Mayu Live
    %nav.nav
      %menu.menu
        %li
          %a.navLink(href="/demos")
            Demos
        %li
          %a.navLink(href="/docs")
            Docs
        %li
          %a.navLink(href="https://github.com/mayu-live/framework" target="_blank")
            GitHub
