:ruby
  translations("sv-SE", "en-US")

  MaxWidth = import("/app/components/Layout/MaxWidth")
  Icon = import("/app/components/UI/Icon")

%header(lang=lang){class: props[:class]}
  %MaxWidth.inner
    %a.titleLink(href="/"){title: t(:startpage)}
      Mayu Live
    %nav.nav
      %menu.menu
        %li
          %a.navLink(href="/demos")
            = t(:demos)
        %li
          %a.navLink(href="/docs")
            = t(:docs)
        %li
          %a.navLink(href="https://github.com/mayu-live/framework" target="_blank")
            GitHub
            %Icon.icon(icon="up-right-from-square")
