:ruby
  Icon = import("/app/components/UI/Icon")
  Logo = svg("./logo.svg")
  Title = svg("./title.svg")

%header
  %h1
    %a.title(href="/" title="Start page")
      %img.logo(src=Logo)
      %img.title-text(src=Title)
  %nav
    %menu
      %li
        %a(href="/demos")
          Demos
      %li
        %a(href="/docs")
          Docs
      %li
        %a(href="https://github.com/mayu-live/framework" target="_blank")
          GitHub
          %Icon(name="up-right-from-square")

:css
  header {
    grid-row: 1;
    grid-column: 1;
    align-self: start;
    z-index: 1;

    /*
    position: sticky;
    top: 0;
    */

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: .5em 2em;
    background: var(--header-background);
    border-bottom: var(--thin-border);
    backdrop-filter: brightness(50%) blur(.5rem);
    box-shadow: 0 0 5em #1b2b5f;
  }

  menu {
    font-family: var(--font-heading);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: bold;
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: #b8346c;
    display: flex;
    filter:
      drop-shadow(0 0 2px #fff)
      drop-shadow(0 0 1px #fff);
  }

  menu a:any-link {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.5em;
    text-decoration: none;
    color: var(--header-link-color);
  }

  menu a:is(:active, :hover) {
    text-decoration: underline;
    color: var(--header-link-hover-color);
  }

  .title {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .75em;
    align-items: end;
  }

  .logo {
    max-height: 2.5em;
  }

  .title-text {
    max-height: 2em;
  }
