:ruby
  # class scope

:ruby
  level = $level.to_i.clamp(1, 6)
  tag = :"h#{level}"
  classname = styles[:h, tag, styles[:class]]

  Mayu::VDOM::h(
    tag,
    *children,
    **props.except(:level).merge(class: classname),
  )
