.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.img {
  height: 2em;
  width: auto;
  flex: 0;
  filter: drop-shadow(0 0 3px #000);
  transition: filter 150ms, transform 150ms;
}

.img:hover {
  filter: drop-shadow(0 0 16px #000);
  transform: scale(1.05) rotate(2deg);
}

.img:active {
  filter: drop-shadow(0 0 2px #000);
  transform: scale(0.95) rotate(-2deg);
}

.nav {
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.menu {
  /* TODO: Implement composes: maxWidth; */
  width: min(100% - 2rem, 960px);
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1em;
}

.navLink {
  padding: 0.5em;
  display: block;
  white-space: nowrap;
}

.navLink:first-child {
  padding-left: 0;
}

.navLink:link,
.navLink:visited {
  color: var(--yellow);
  text-decoration: none;
}

.navLink:active,
.navLink:hover {
  text-decoration: underline;
  filter: brightness(120%);
}
