MaxWidth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin: 0 2rem;
}

nav {
}

menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  margin: 0;
  padding: 0;
}

a {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

h1 {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.4em;
  padding: 0;
  margin: 0;
}

a:link,
a:visited {
  color: var(--yellow);
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
  filter: brightness(120%);
}

Icon {
  margin-left: 0.5em;
  --icon-color: var(--yellow);
}
