:ruby
  # class scope

:ruby
  level = props[:level].to_i.clamp(1, 6)
  tag = :"h#{level}"
  classname = "#{props[:class]} #{styles[tag]}}".strip

  Mayu::VDOM::Descriptor.new(
    tag,
    props.except(:level).merge(class: classname),
    children,
  )
