:css
  .maxWidth {
    width: min(100% - 4rem, var(--page-max-width));
    margin-inline: auto;
  }

:ruby
  Mayu::VDOM.h(
    props[:tag] || :div,
    *children,
    **props,
    class: styles[:maxWidth, props[:class]]
  )
