:css
  .maxWidth {
    width: min(100% - 4rem, var(--page-max-width));
    margin-inline: auto;
  }

:ruby
  H[
    (props[:as] || props[:tag] || :div).to_sym,
    *children,
    **props,
    class: styles[:maxWidth, props[:class]]
  ]
