:css
  .maxWidth {
    width: min(100% - 2rem, var(--page-max-width));
    margin-inline: auto;
  }

:ruby
  classnames =
    [styles.maxWidth, props[:class]]
    .compact
    .join(" ")

  tag = props[:tag] || :div

  Mayu::VDOM::Descriptor.new(tag.to_sym, {class: classnames}, props[:children])
