:css
  .maxWidth {
    width: min(100% - 4rem, var(--page-max-width));
    margin-inline: auto;
  }

:ruby
  Mayu::VDOM.h(
    ($as || $tag || :div).to_sym,
    *children,
    **props,
    class: styles[:maxWidth, $class]
  )
