:ruby
:ruby
  return H[
    ($as || $tag || :div).to_sym,
    H.slot(self),
    **self.class.merge_props($*, { class: :maxWidth })
  ]
:css
  .maxWidth {
    width: min(100% - 4rem, var(--page-max-width));
    margin-inline: auto;
  }
