:css
  li {
    display: block;
  }

  a {
    display: block;
  }

  a:any-link {
    color: var(--menu-link-color);
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }

%li
  %a{href: $href}
    %slot
