:css
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    background: var(--blue-bright);
    border: 1px solid var(--blue);
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--menu-direction, column);
    justify-content: space-evenly;
  }
%menu.menu
  %slot
