%menu
  %slot

:css
  menu {
    list-style-type: none;
    padding: 0;
    margin: 0 1em;
    display: flex;
    flex-wrap: wrap;
    gap: .5em 2em;
  }

  @container (max-width: 20em) {
    menu {
      flex-direction: column;
    }
  }
