:css
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--menu-direction, column);
    gap: 0 1em;
  }
%menu.menu{lang: props[:htmllang]}
  %slot
