:ruby
  MaxWidth = import("/app/components/Layout/MaxWidth")
  Heading = import("/app/components/Layout/Heading")

%MaxWidth(grid)
  .page
    = if props[:title]
      %Heading(level=1)= props[:title]

    %slot(name="after_heading")
    .wrap
      %slot(name="menu")
      .content
        %slot
