:ruby
  MaxWidth = require("/app/components/Layout/MaxWidth")
  Heading = require("/app/components/Layout/Heading")

%MaxWidth
  .page
    = if props[:title]
      %Heading(level=1)= props[:title]

    %slot(name="after_heading")
    .wrap
      %slot(name="menu")
      .content
        %slot
