:ruby
  MaxWidth = import("/app/components/Layout/MaxWidth")
  Heading = import("/app/components/Layout/Heading")

%MaxWidth(grid)
  .page
    = if $title
      %Heading(level=1)= $title

    %slot(name="after_heading")
    .wrap
      %slot(name="menu")
      .content
        %slot
