.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em;
  gap: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  background: var(--blue-bright);
  padding: 1em;
  flex: 1;
  border-radius: 2px;
}

.button[href]:link,
.button[href]:visited {
  text-decoration: none;
  color: var(--blue);
}

.button[href]:active,
.button[href]:hover {
  text-decoration: underline;
}

.per-page {
  flex: 0;
  white-space: nowrap;
}

.pages {
  flex: 1;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.5em;
}

.page {
  padding: 0.5em;
  display: inline-block;
  width: 2em;
  text-align: center;
}

.page:link,
.page:visited {
  text-decoration: none;
  color: var(--blue);
}

.page:active,
.page:hover {
  color: var(--blue);
  font-weight: bold;
  text-decoration: underline;
}

.page[aria-current="page"] {
  background: var(--blue);
  color: var(--bright);
  font-weight: bold;
  border-radius: 2px;
}
