.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  padding: 1em;
  margin: 1em;
  background: #fff;
  border: var(--thin-border);
  border-radius: 2px;
  background: var(--material-color-light-blue-50);
}

nav {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border-radius: 2px;
}

.button[href] {
  &:any-link {
    text-decoration: none;
    color: var(--blue);
  }

  &:is(:active, :hover) {
    text-decoration: underline;
  }
}

.per-page {
  flex: 0;
  white-space: nowrap;
}

.pages {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.5em;
}

.page {
  padding: 0.5em;
  display: inline-block;
  width: 2em;
  text-align: center;
  background: transparent;
  transition: background 500ms;

  &:any-link {
    text-decoration: none;
    color: var(--blue);
  }

  &:is(:active, :hover) {
    color: var(--blue);
    font-weight: bold;
    text-decoration: underline;
  }

  &[aria-current="page"] {
    background: var(--blue);
    color: var(--bright);
    font-weight: bold;
    border-radius: 2px;
  }
}
