:ruby
  Details = import("/app/components/UI/Details")
  Highlight = import("/app/components/UI/Highlight")
  Markdown = import("../Markdown")
  Pokemon = import("./Pokemon")
:css
  .grid { display: grid; }
  .scroll {
    overflow: auto;
    max-height: 30em;
  }
%article
  %Markdown
    :plain
      # Data fetching

      This example shows how data can be fetched with
      loading state and error handling.

  %Highlight(language="haml")
    = File.read("app/pages/docs/data-fetching/Pokemon.haml")

  %Markdown
    :plain
      This component can be used like this:

      ```haml
      :ruby
        Pokemon = import("./Pokemon")
      %Pokemon(id=123)
      ```

  %Details(lazy summary="Demo")
    .grid
      .scroll
        %Pokemon(id=123)
