:ruby
  Heading = import("/components/Layout/Heading")
  Button = import("/components/Form/Button")
  Message = import("./Message")

  MODEL = "llama2"
  OLLAMA_HOST = ENV.fetch("OLLAMA_HOST", "http://localhost:11434")

  def initialize
    @key = 0
    @messages = []
    @words = []
    @loading = false
    @ollama = Ollama.new(
      model: MODEL,
      url: OLLAMA_HOST,
    )
  end

  def handle_submit(e)
    return if @loading

    text = e.dig(:currentTarget, :formData, :message)

    @key += 1
    @loading = true
    @messages = [
      *@messages,
      { id: SecureRandom.alphanumeric, role: "user", text: }
    ]

    chunks = []

    begin
      @ollama.generate(text) do |word|
        chunks.push(word)

        @words = [*@words, word]
      end
    rescue => e
      pp e
    end

    @words = []
    @messages = [
      *@messages,
      {
        id: SecureRandom.alphanumeric,
        role: "model",
        text: chunks.join.strip
      }
    ]
  ensure
    @loading = false
  end

%section
  %Heading(level=2)
    %span Ollama chat

  .scroller
    = if @messages.empty?
      %p.type-your-message Type a message to chat with #{MODEL}
    %ul
      = unless @words.empty?
        %Message.model[:temp]{
          role: "model",
          text: @words.join.strip
        }
      = @messages.reverse.map do |message|
        %Message.model[message[:id]]{
          role: message[:role],
          text: message[:text],
        }
  %form(onsubmit=handle_submit)
    %input[@key]{
      autofocus: true,
      type: "text",
      name: "message",
      autocomplete: "off",
      placeholder: "Type your message here…"
    }
    %Button(type="submit"){disabled: @loading} Send

:css
  section {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 20em;
    height: 100%;
    gap: 1em;
  }

  .scroller {
  }

  Heading {
    margin-bottom: 0;
  }

  .scroller {
    position: relative;
  }

  ul {
    position: absolute;
    inset: 0;
    overflow-y: scroll;
    font-family: "Roboto Mono";
    white-space: pre-wrap;
    border: 1px solid #0003;
    border-radius: 3px;
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }

  form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
  }

  input {
    padding: .5em;
  }

  .type-your-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }
