:ruby
  Heading = import("/components/Layout/Heading")
  Highlight = import("/components/UI/Highlight")
  Card = import("/components/UI/Card")
  Details = import("/components/UI/Details")
  Button = import("/components/Form/Button")

  def initialize
    @count = 0
  end

  def handle_alert
    helpers.alert("Hello world\nCount: #{@count}")

    @count += 1
  end

%article
  %Heading(level=2) Events
  %p This page contains some experiments with events

  %Button(onclick=handle_alert) Alert
