:ruby
  Heading = import("/app/components/Layout/Heading")
  Highlight = import("/app/components/Layout/Highlight")
  Card = import("/app/components/Layout/Card")
  Details = import("/app/components/Layout/Details")

  def self.get_initial_state(**) = {
    count: 0
  }

  def handle_alert(e)
    helpers.alert("Hello world\nCount: #{state[:count]}")

    update do |state|
      { count: state[:count] + 1 }
    end
  end

%article
  %Heading(level=2) Events
  %p This page contains some experiments with events

  %button(onclick=handle_alert) Alert
