:ruby
  Heading = import("/app/components/Layout/Heading")
  Highlight = import("/app/components/UI/Highlight")
  Card = import("/app/components/UI/Card")
  Details = import("/app/components/UI/Details")

  def self.get_initial_state(**) = {
    count: 0
  }

  def handle_alert
    helpers.alert("Hello world\nCount: #{@count}")
    @count += 1
  end

%article
  %Heading(level=2) Events
  %p This page contains some experiments with events

  %button(onclick=handle_alert) Alert
