:ruby
  translations("sv-SE", "en-US")

  Heading = import("/app/components/Layout/Heading")
  Highlight = import("/app/components/Layout/Highlight")
  Card = import("/app/components/Layout/Card")
  Details = import("/app/components/Layout/Details")

  def self.get_initial_state(**) = {
    count: 0
  }

  def handle_alert(e)
    helpers.alert(t(:message, count: state[:count]))

    update do |state|
      { count: state[:count] + 1 }
    end
  end

%article(lang=lang)
  %Heading(level=2)= t(:title)
  %p= t(:description)
  %button(onclick=handle_alert)= t(:alert)
