@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Shrikhand&display=swap');

.html {
  background: #000;
  margin: 0;
  padding: 0;
  --title-font: "Shrikhand";

  --page-max-width: 900px;
  --white: #e3fcfc;
  --blue: #14ccca;

  --celadon-blue: #4281a4ff;
  --verdigris: #48a9a6ff;
  --timberwolf: #e4dfdaff;
  --tan: #d4b483ff;
  --fuzzy-wuzzy: #c1666bff;
}

.html *,
.html *::before,
.html *::after {
  box-sizing: border-box;
}

.body {
  background: #000;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

.wrap {
  background: #fff;
  color: #000;
  padding: 0 1em;
}

.main {
  min-height: 70vh;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menuLink {
  margin: 0;
  padding: 0;
  display: block;

  border-radius: 3px;
  background: #14ccca;
  transition: all .1s;
  border: 1px solid #0001;
  padding: .5em;
  font-size: .9em;
}

.menuLink:link,
.menuLink:visited,
.menuLink:active,
.menuLink:hover {
  text-decoration: none;
  color: #fff;
}

.menuLink:hover {
  color: var(--white);
  filter: brightness(110%);
}

.menuLink:active {
  filter: brightness(90%);
}

.currentPage {
  background: #8ed565;
}
