:root {
  --dark: #403f4c;
  --bright: #fff;
  --red: #e84855;
  --orange: #ffb300;
  --yellow: #f9dc5c;
  --yellow-bright: #fdf1be;
  --green: #25bc5f;
  --green-bright: #caf4da;
  --blue-dark: #012860;
  --blue: #3185fc;
  --blue-bright: #e9f2ff;
  --pink: #efbcd5;
  --pink-bright: #f9e5ef;
  --accent-color: var(--blue);
  accent-color: var(--accent-color);
  --page-max-width: 46em;
  --menu-width: 14em;
  --link-color: var(--accent-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: inherit;
}

.body {
  background: var(--dark);
  color: var(--bright);
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
  overflow-y: scroll;
}
