%html
  %head
    %meta(name="charset" value="utf-8")
    %meta(name="generator" value="github.com/mayu-live/framework")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      Mayu Live
  %body.body
    %slot
