.box(class=$class)
  %slot
:css
  .box {
    background: var(--box-background);
    border: 1px solid var(--box-border);
    border-radius: .5rem;
    margin: 0;
    padding: 1rem;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 1em #0006;
  }
