:ruby
  Header = import('/app/components/Layout/Header')
  Footer = import('/app/components/Layout/Footer')

.layout
  %Header
  %main
    %slot
  %Footer

:css
  .layout {
    height: 100%;
    min-height: 100dvh;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
  }

  main {
    display: flex;
    padding: 1rem;
  }
