:ruby
  Box = import("./Box")
  Dolphin = svg("./mayu-dolphin.svg")

.grid
  %Box
    Get started by editing
    %code< app/pages/page.haml

  %img.dolphin(src=Dolphin alt="Mayu logo")

  %Box.links
    %h3 Links
    %a.link(target="_blank" href="https://mayu.live/docs")
      Documentation
    %a.link(target="_blank" href="https://github.com/mayu-live/framework")
      GitHub

:css
  .grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 30rem;
    gap: 3rem;
    align-self: center;
    margin: 0 auto;
  }

  .center {
    display: flex;
  }

  code {
    font-weight: bold;
    user-select: all;
  }

  @keyframes dolphin-animation {
    0% { rotate: 0deg; }
    10% { rotate: 10deg; }
    20% { rotate: -10deg; }
    30% { rotate: 20deg; }
    40% { rotate: -5deg; }
    50% { rotate: 0deg; }
    100% { rotate: 0deg; }
  }

  .dolphin {
    align-self: center;
    display: block;
    width: 10rem;
    margin: 0 auto;
    filter: var(--pink-shadow);
    animation: 5s ease-in-out 1s infinite running dolphin-animation;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    background: light-dark(#0001, #fff1);
    border: 1px solid light-dark(#0002, #fff2);
    border-radius: .5rem;

    & h3 {
      margin: 0;
    }
  }

  a {
    transition: filter 100ms;

    &:any-link {
      color: var(--pink);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      filter: brightness(120%);
    }
  }
