:ruby
  Heading = require("/app/components/Layout/Heading")

%article
  %Heading(level=2) Deployment

  %p
    This page is deployed to
    %a(href="https://fly.io/")<> Fly.io
    using their
    %a(href="https://fly.io/docs/about/pricing/#virtual-machines")<> free plan
    = ". "
    They make it easy to deploy apps to different regions so that your app runs close
    to your users, which makes latency really low.
    -#
    -# <p>
    -#   Let's say an instance that costs USD$1.94/month can handle 30 sessions.{' '}
    -#   Then that would be something like{' '}
    -#   USD$<data class={styles.data} value={"%.64f" % (1.94/30/30/24/60)}>1.94/30/30/24/60</data>{' '}
    -#   for each minute a visitor is on the page.{' '}
    -#   That's pretty cheap...{' '}
    -#   Or did I get something wrong?
    -# </p>
    -#
    -# <p>
    -#   Fly.io has an auto-scaling feature that can scale an application
    -#   automatically depending on the traffic.{' '}
    -#   I haven't tried this yet, but it would be interesting to see how it works.
    -# </p>
