:ruby
  def style = {
    :"--card-background" => $background || "var(--bright)",
    :"--card-border" => $border || "#0002",
  }
:css
  .card {
    background: var(--card-background, var(--bright));
    border: 1px solid var(--card-border, #0002);
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 2px;
    display: grid;
  }
.card(class=$class style=style)
  %slot
