.card(class=$class)
  %slot
:css
  .card {
    background: var(--card-background, var(--bright));
    border: 1px solid var(--card-border, var(--slightly-darker));
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 2px;
    display: grid;
  }
