:ruby
  # Usage:
  #
  #   %Details(summary="What is guaba?")
  #     %p
  #       Inga edulis, known as ice-cream bean, joaquiniquil, cuaniquil,
  #       guama or guaba, is a fruit native to South America.
  #
  #  To lazily load content, add the lazy prop:
  #
  #    %Details(summary="What is guaba?" lazy)
  #      %HeavyComponent

  Card = import("./Card")

  def self.get_initial_state(initial_open: false, lazy: false, **) = {
    open: initial_open,
    loaded: initial_open || !lazy
  }

  def handle_toggle(e)
    if e in { target: { open: true } }
      update(loaded: true)
    end
  end

%Card(class=$class)
  %details(ontoggle=handle_toggle){open: state[:open]}
    %summary= $summary
    .content
      = if state[:loaded]
        %slot
      = else
        %p Loading…

:css
  details {
    padding: 0.5em 0.5em 0;
  }

  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em 1em;
    cursor: pointer;
    user-select: none;

    details[open] & {
      border-bottom: 1px solid #0003;
      margin-bottom: 0.5em;

      &::after {
        transform: translateX(0.5em) rotateZ(0.25turn);
      }
    }

    &::after {
      display: inline-block;
      content: "▶";
      transition: transform 250ms;
      transform: translateX(0.5em) rotateZ(0turn);
      scale: 1;
      margin-right: 1em;
    }
  }

  summary::marker {
    content: "";
    display: none;
  }

  details[open] {
    padding: 0.5em;
  }

  p {
    margin: 0;
    padding: 0;
  }
