.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlight {
  padding: 0;
  margin: 1em;
  font-size: 0.9em;
  display: block;
  font-family: var(--font-mono), monospace;
  font-size: 1.1em;
  white-space: pre;
  font-weight: 200;
  color: rgb(var(--color));
}
.highlight > * {
  color: rgb(var(--color));
  text-shadow:
    0 0 2px #000,
    0 0 0.75em rgb(var(--color) / 50%);
}
.highlight,
.highlight .w {
  --color: 98% 95% 78%;
}
.highlight .err {
  --color: 98% 29% 20%;
  background---color: 16% 16% 16%;
  font-weight: bold;
}
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  --color: 57% 51% 45%;
  font-style: italic;
}
.highlight .cp {
  --color: 56% 75% 49%;
}
.highlight .nt {
  --color: 98% 29% 20%;
}
.highlight .o,
.highlight .ow {
  --color: 98% 95% 78%;
}
.highlight .p,
.highlight .pi {
  --color: 98% 95% 78%;
}
.highlight .gi {
  --color: 72% 73% 15%;
  background---color: 16% 16% 16%;
}
.highlight .gd {
  --color: 98% 29% 20%;
  background---color: 16% 16% 16%;
}
.highlight .gh {
  --color: 72% 73% 15%;
  font-weight: bold;
}
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
  --color: 98% 29% 20%;
}
.highlight .kc {
  --color: 83% 53% 61%;
}
.highlight .kt {
  --color: 98% 74% 18%;
}
.highlight .kd {
  --color: 100% 50% 10%;
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  --color: 72% 73% 15%;
  font-style: italic;
}
.highlight .si {
  --color: 72% 73% 15%;
  font-style: italic;
}
.highlight .sr {
  --color: 72% 73% 15%;
  font-style: italic;
}
.highlight .sa {
  --color: 98% 29% 20%;
}
.highlight .se {
  --color: 100% 50% 10%;
}
.highlight .nn {
  --color: 56% 75% 49%;
}
.highlight .nc {
  --color: 56% 75% 49%;
}
.highlight .no {
  --color: 83% 53% 61%;
}
.highlight .na {
  --color: 72% 73% 15%;
}
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  --color: 83% 53% 61%;
}
.highlight .ss {
  --color: 51% 65% 60%;
}
