:ruby
  def inline_style
    return {} if $blur == false

    {
      background_image: "url('#{$image.blur}')",
      background_size: "cover",
    }
  end

:css
  img {
    width: 100%;
    height: auto;
  }

:ruby
  image = props.fetch(:image)

  loading = $lazy && "lazy"
  decoding = props.fetch(:decoding, "async")

  alt = props.fetch(:alt) do
    Console.logger.warn(self, "Missing alt-attribute!")
  end

%img(class=$class style=inline_style loading=loading decoding=decoding alt=alt){
  src: image.src,
  sizes: image.sizes,
  srcset: image.srcset,
  width: image.original.width,
  height: image.original.height,
}
