:ruby
  def inline_style
    return {} if $blur == false

    {
      background_image: "url('#{$image.blur}')",
      background_size: "cover",
    }
  end

:css
  img {
    width: 100%;
    height: auto;
  }

:ruby
  image = $image or return

  loading = $lazy && "lazy"
  decoding = $decoding || "async"
  alt = $alt or Console.logger.warn(self, "Missing alt-attribute!")

%img(style=inline_style loading=loading decoding=decoding alt=alt class=$class){
  src: image.src,
  sizes: image.sizes,
  srcset: image.srcset,
  width: image.original.width,
  height: image.original.height,
}
