:css
  .img {
    width: 100%;
    height: auto;
  }

:ruby
  image = props.fetch(:image)

  style = {
    background_image: "url('#{image.blur}')",
    background_size: "cover",
  }

  loading = props[:lazy] && "lazy"

  alt = props.fetch(:alt) do
    Console.logger.warn(self, "Missing alt-attribute!")
  end

  classname = styles[:img, props[:class]]

%img{
  style:,
  loading:,
  alt:,
  class: classname,
  src: image.src,
  sizes: image.sizes,
  srcset: image.srcset,
  width: image.original.width,
  height: image.original.height,
}
