:ruby
  def inline_style
    return {} if props[:blur] == false

    {
      background_image: "url('#{props[:image].blur}')",
      background_size: "cover",
    }
  end

:css
  img {
    width: 100%;
    height: auto;
  }

:ruby
  image = props.fetch(:image)

  loading = props[:lazy] && "lazy"
  decoding = props.fetch(:decoding, "async")

  alt = props.fetch(:alt) do
    Console.logger.warn(self, "Missing alt-attribute!")
  end

  classname = props[:class]

%img(style=inline_style loading=loading decoding alt=alt class=classname){
  src: image.src,
  sizes: image.sizes,
  srcset: image.srcset,
  width: image.original.width,
  height: image.original.height,
}
