:ruby

:ruby
  loading = $lazy && "lazy"
  decoding = $decoding || "async"

  unless $alt
    Console.logger.warn(self, "Missing alt-attribute!")
  end

  inline_style = $blur && {
    background_image: $image.blur_url,
  }

%img(class=$class style=inline_style loading=loading decoding=decoding alt=$alt){
  src: $image.src,
  sizes: $image.sizes,
  srcset: $image.srcset,
  width: $image.width,
  height: $image.height,
}

:css
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-size: cover;
    background-repeat: no-repeat;
    shape-margin: 1rem;
  }
