:css
  .link:link,
  .link:visited {
    color: var(--link-color);
    text-decoration: none;
  }

  .link:active,
  .link:hover {
    text-decoration: underline;
  }
:ruby
  style = props[:color] && { __link_color: props[:color] }
%a.link(style=style){**props.except(:color)}
  %slot
