:css
  a:any-link {
    color: var(--link-color);
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }
:ruby
  style = $color && { __link_color: $color }
%a(style=style){**props.except(:color)}
  %slot
